[2016-07-19 15:43] avishayil opened #9 "ListView inside a tab is not visible until scrolling"
Ref: https://github.com/d-a-n/react-native-multiple-choice/issues/6

[2016-07-21 14:56] satya164 commented on #9
That's weird. It definitely works in the example. Does the ListView use `removeClippedSubViews`? That's known to be causing issues on iOS in latest React Native version.

[2016-07-21 18:34] satya164 commented on #9
Related https://github.com/facebook/react-native/issues/1831

[2016-07-28 21:02] satya164 commented on #9
Any updates on the issue?

[2016-07-28 21:12] chirag04 commented on #9
i'm using listview inside a tabview already with `removeClippedSubViews` disabled for now. I don't think it's a tab view concern.

[2016-07-28 21:19] satya164 commented on #9
@chirag04 Thanks. I'm going to close this issue then.

[2016-07-28 21:19] #9 closed

[2016-08-02 07:41] skeie opened #10 "Active TabBar"
I would like the second tab to be active when the app loads. Is that possible?

![image](https://cloud.githubusercontent.com/assets/1346122/17320709/2d556a92-5895-11e6-98ca-19ba2aff3dcf.png)

[2016-08-02 08:02] skeie commented on #10
The index in this.state defines which route is the active one.
![image](https://cloud.githubusercontent.com/assets/1346122/17321318/34328cb6-5898-11e6-940f-72c25f1f3267.png)

👍

[2016-08-02 08:03] #10 closed

[2016-08-06 04:05] fmatoss opened #11 "Improve TouchableItem press animation"
If you touch quickly on the tab item button, the ripple effect won't trigger, so what I suggest is that you put ```delayPressIn: 0``` in defaultProps to give a nice feedback effect when the button is pressed, no matter how fast you touch the screen.

I think this should be the default in React Native, maybe some people don't want this, so it would be nice if there's a way to pass props to Touchabl

[2016-08-08 02:45] satya164 commented on #11
@fmatoss Yeah, sounds reasonable. Up for PR? :)

[2016-08-08 03:51] fmatoss commented on #11
Here: https://github.com/react-native-community/react-native-tab-view/pull/12

[2016-08-08 04:44] #11 closed

[2016-08-14 21:37] ronak301 opened #13 "Is it possible to have infinite scollable ?"
It is my case that i have dozens of tabs , is it possible to have infinite scrolling top tab bar.

[2016-08-16 10:54] satya164 commented on #13
If you mean just scrollable tabbar, it's possible, but we don't have a component for it yet. If you want to help implementing it, ping me :)

[2016-08-19 14:59] BipinBhandari opened #16 "Can anyone help on this issue?"
![screen shot 2016-08-19 at 8 43 06 pm](https://cloud.githubusercontent.com/assets/5967448/17814041/a56eb89c-664d-11e6-9cd9-73b613bd10b3.png)

[2016-08-19 15:06] BipinBhandari commented on #16
solved this issue `npm install --save react-addons-shallow-compare`

[2016-08-19 15:06] #16 closed

[2016-08-19 15:12] chirag04 commented on #16
`react-addons-shallow-compare` is a peerDep. @satya164 should it be dep?

[2016-08-19 15:31] satya164 commented on #16
@chirag04 I prefer it to be a `peerDep` so that the version of `react` and `react-addons-shallow-compare` stay in sync. I should document it.

[2016-08-19 17:47] npm-install commented on #13
@ronak301 @satya164  Were you able to do proof of the concept on this? Got some suggestion to use `ScrollView` which I am going to give a try.

[2016-08-19 20:34] satya164 commented on #13
@npm-install Nope. But yeah, I think `ScrollView` is the way to go. Here is what I was thinking,

1. By default give each of the tabs the width - `(layout.width / 3) * 2`, so that the third tab is partially visible, also allow a custom `tabItemWidth` prop
2. When a tab is focused, animate (`scrollTo`?) the tabbar item to center of the screen (we'll need to calculate this)
3. Ensure the scrollbars

[2016-08-22 09:51] uc-asa opened #17 "On state change not re-render"
Hi Team,

If state change then It'll not render again, I need to re render content when state change.
Plz suggest me

[2016-08-22 10:55] satya164 commented on #17
Hey! It'll only re-render if the `navigationState` changes. If you want it to re-render on any other change, add that prop to the `navigationState` object.

[2016-08-22 11:10] uc-asa commented on #17
routes         : [ ... ], generate error here

[2016-08-22 11:11] satya164 commented on #17
@uc-asa that's just an example. Can you post your code here so I can say what changes you need to do?

[2016-08-22 11:18] satya164 commented on #17
Also added this to the readme which should give you a better idea, https://github.com/react-native-community/react-native-tab-view#caveats

[2016-08-22 11:19] uc-asa commented on #17
I have created a function for search and created using tab view
showarr () {
		var s = [];
		if(!this.state.isLoading && this.arr.length > 0) {
			for(let i in this.arr){
				try {
					if(this.state.text != '') {
						if(((this.arr[i]['snippet']).toLowerCase()).indexOf((this.state.text).toLowerCase()) > -1 || ((this.arr[i]['content']).toLowerCase()).indexOf((this.state.text).toLowerCase()) > -1)

[2016-08-22 11:22] satya164 commented on #17
@uc-asa You can just put the items in `this.state.navigation` to `this.state` directly, e.g. -

What you have,

[code]

Change it to,

[code]

And the in your render, where you're doing `navigationState={this.state.navigation}`, just do `navigationState={this.state}` instead.

[2016-08-22 11:38] uc-asa commented on #17
I have keep more variable in this.state so I have created
this.state = {
			navigation: {
				index: 0,
				routes: [
				    { key: '1', title: 'Table of content' },
				],
				 text: '',
			}
}
and I updated using
let navigation = this.state.navigation;
navigation['text'] = text;
this.setState({ navigation: navigation });

console.log(this.state.navigation) // It print value of text but unable t

[2016-08-22 11:40] satya164 commented on #17
instead of that, do this,

[code]

Then, to update,

[code]

and instead of `navigationState={this.state.navigation}`, do `navigationState={this.state}`

[2016-08-22 11:44] satya164 commented on #17
The problem with your code is actually here,

[code]

You're mutating the `navigation` object. You should do this instead,

[code]

I'd suggest you do the following instead,

instead of what you're doing, do this,

[code]

Then, to update,

[code]

and instead of `navigationState={this.state.navigation}`, do `navigationState={this.state}`

[2016-08-22 11:58] satya164 commented on #17
Lemme know if it worked or not.

[2016-08-22 13:00] ryankask opened #18 "Pan responder not working before new props received since 0.0.25"
It looks like in 22a95a887b13ddbee589e7c0e8bedb5bfa47f9b3 the underlying `TabPageView` component's `_panHandlers` are only set when props are received.

The result is that you can't change tabs by panning until new props are received. Once the props are updated, for example, by tapping a tab label in the header, you can then switch tabs via panning.

[2016-08-22 14:03] knowbody commented on #13
this is something that I will need very soon, so can help on that if there is work already done on it or I might start separately

[2016-08-23 06:00] uc-asa commented on #17
Its not work but I have done by another way
Thanks

[2016-08-23 06:00] #17 closed

[2016-08-23 11:33] uc-asa opened #19 "On state change need re-render"
When state change in my component then I need to re-render
<TabViewAnimated
				         style={styles1.container}
				         navigationState={this.state.navigation}
				         renderScene={this._renderPage}
				         renderHeader={this._renderHeader}
				         onRequestChangeTab={this._handleChangeTab}
			       />

plz suggest me

[2016-08-23 13:42] knowbody commented on #19
You just closed the previous issue with the same problem? https://github.com/react-native-community/react-native-tab-view/issues/17

[2016-08-23 15:55] satya164 commented on #18
ouch! sorry for that. will fix this in a moment.

[2016-08-23 16:03] #18 closed

[2016-08-23 16:05] ryankask commented on #18
No, problem! Thanks for such a high quality library.

Next I'll provide a PR instead...

[2016-08-23 16:08] satya164 commented on #18
@ryankask thanks for the bug report. I should've tested more thoroughly. a PR is always appreciated :)

[2016-08-23 16:09] satya164 commented on #19
@uc-asa please refer to the caveats section in README which deals with this issue - https://github.com/react-native-community/react-native-tab-view#caveats

[2016-08-23 16:09] #19 closed

[2016-08-25 06:19] uc-asa opened #20 "On swipe function calling"
Which function is call on swipe from which file

[2016-08-25 11:21] satya164 commented on #20
@uc-asa you can pass a callback to `TabViewAnimated` or `TabViewTransitioner` using the `onChangePosition` prop. It's called during swipe.

https://github.com/react-native-community/react-native-tab-view#api

[2016-08-25 11:21] #20 closed

[2016-08-26 06:42] uc-asa opened #21 "Three Item at a time from 100 items"
I need to render three items once out of 100, if swipe next then render next 3item if swipe prev then again render prev 3 item
what can I do
Plz sugget me

[2016-08-26 11:46] satya164 commented on #21
You can use the technique mentioned here - https://github.com/react-native-community/react-native-tab-view#optimization-tips

[2016-08-26 11:46] #21 closed

[2016-08-27 19:47] nachoaIvarez opened #22 "Local state management works fine, analog redux state management don't."
If I use a local state like in [this example](https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/TopBarTextExample.js) everything works like a charm.

But, when porting it to redux, swiping doesn't work.

**Action**
[code]
**Reducer**
[code]

**Component**
[code]

The weird part is that if I `console.log` the state index and the action index...
[code]

If I cli

[2016-08-27 20:14] nachoaIvarez commented on #22
Fixed it. A new episode of "Let's find the bug once you already put the issue up".

I was incorrectly updating the state on the reducer.

[2016-08-27 20:49] satya164 commented on #22
Cool. You're also mutating the state which might cause bugs since we assume that navigation state is not mutated.

Instead of `Object.assign(state, { index: action.payload.index })`, do `Object.assign({}, state, { index: action.payload.index })`

[2016-08-27 20:50] #22 closed

[2016-08-28 16:02] nachoaIvarez commented on #22
I already moved to immutable.js. Thanks!

[2016-09-02 03:51] uc-asa opened #23 "Disable left tab swapping"
How can we disable left tab swapping.

Is it possible in this library

[2016-09-02 17:02] satya164 commented on #23
It's possible, but you need to use a custom panResponder. Copy this file, and add your logic in this function - https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabViewPanResponder.js#L58

[2016-09-06 07:53] yejiajieicanqly opened #24 "Can not be displayed on the Android phone"
In _renderScene(), Android phones can not be a normal rendering of the component I want to render, such as a background color component, can normal rendering in iPhone, in the Android equipment but not normal rendering components contained in is not rendered.

[2016-09-06 10:58] satya164 commented on #24
what do you mean by cannot be displayed? can you provide an example?

[2016-09-09 21:22] satya164 commented on #24
I'm going to close this issue since there has been no response.

[2016-09-09 21:22] #24 closed

[2016-09-14 18:47] stief510 opened #26 "ListView does not render in tab until tab has fully rendered"
In the demo you display as a gif, the tab view slides over when you switch tabs. However, I have two listviews - one for each tab - and they only render once the tab is fully rendered

[2016-09-14 19:22] satya164 commented on #26
@stief510 Can you give an example of what you mean?

[2016-09-14 19:24] stief510 commented on #26
Each route within the Tab View consists of a `<ListView/>`. When I change tabs the list view does not render until the view has completely moved to the next tab.

[2016-09-14 19:27] satya164 commented on #26
@stief510 That's not expected. Can you give the example a try and see if you can repro it? There's an example with ListViews.

https://github.com/react-native-community/react-native-tab-view/tree/master/example

It always helps to see the code and examples in case of an issue.

[2016-09-14 20:41] satya164 commented on #26
@stief510 Did you find something, happy to investigate if you provide code sample.

[2016-09-15 19:19] stief510 commented on #26
So my two renders are as follows

[2016-09-15 19:22] satya164 commented on #26
It looks fine to me. In fact I've an example with List views here - https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/ScrollViewsExample.js which renders the listviews upfront.

Can you provide the full code for me to debug? Hint: try exponent to share it easily

[2016-09-15 19:24] stief510 commented on #26
Does the mobx computed cause any issues here?

[2016-09-15 19:25] satya164 commented on #26
It shouldn't really. One guess is that rendering takes too long. Try `initialListSize={1}` maybe?

[2016-09-20 16:53] stief510 commented on #26
We were wiping the datasource in the listViews when not in view. So all is good now. Thanks

[2016-09-20 16:53] #26 closed

[2016-09-26 16:23] happierco opened #29 "Rendering pages twice"
I am trying tabview using the example code given in the readme using two components as pages. The pages are rendered twice at the beginning. Do you have any idea why and any suggestions?

[2016-09-26 16:25] satya164 commented on #29
@happierco It's probably due to `onLayout` firing. As mentioned in the README, you should apply `shouldComponentUpdate` to your individual pages anyways - https://github.com/react-native-community/react-native-tab-view#optimization-tips

[2016-09-26 17:48] satya164 commented on #29
Feel free to close the issue if this answers your question @happierco

[2016-09-26 18:13] happierco commented on #29
It is solved. Thank you @satya164.

[2016-09-26 18:13] #29 closed

[2016-09-30 23:23] satya164 commented on #13
I'm working on this right now and it's a bit complex than thought, if we want smooth animations. Will keep you updated.

It needs a lot of maths and I'm poor at maths. Help is much appreciated :D

[2016-10-02 12:27] satya164 commented on #13
Here's a PR which implements it. Testing and feedback is appreciated - https://github.com/react-native-community/react-native-tab-view/pull/32

[2016-10-02 12:29] knowbody commented on #13
so far so good, testing...

[2016-10-03 02:22] #23 closed

[2016-10-03 17:11] sibelius opened #34 "Why TabBarTop title is always uppercase?"
https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabBarTop.js#L44

shouldn't it be customizable?

[2016-10-03 17:12] satya164 commented on #34
@sibelius `TabBarTop` follows material design guidelines by default. You can use the `renderLabel` prop to pass text in any format you want.

[2016-10-03 17:12] #34 closed

[2016-10-03 17:23] sibelius commented on #34
tks

[2016-10-03 17:24] satya164 commented on #34
@sibelius np. lemme know if it doesn't work for you.

[2016-10-03 17:56] sibelius commented on #34
it did work here, tks

[2016-10-04 01:53] #13 closed

[2016-10-05 02:43] kvieira90 opened #35 "2nd view rendering under first view"
Added the same styling as the example shows and for some reason the views are rendering on their  respective views, and leaving a gap on the other. See attached.
![screen shot 2016-10-04 at 10 29 46 pm](https://cloud.githubusercontent.com/assets/5322549/19099405/056b4620-8a84-11e6-9aed-7a2396c4a80a.png)
![screen shot 2016-10-04 at 10 29 43 pm](https://cloud.githubusercontent.com/assets/5322549/190

[2016-10-05 03:22] satya164 commented on #35
@kvieira90 Hmm... That's weird. Can you share some code sample?

[2016-10-05 04:00] kvieira90 commented on #35
Sure thing. You'll see the marginTop - that I added in to counteract this.
![screen shot 2016-10-05 at 12 00 07 am](https://cloud.githubusercontent.com/assets/5322549/19100651/c0f81076-8a8e-11e6-9be1-6810d1037fc2.png)

[2016-10-05 09:20] satya164 commented on #35
@kvieira90 This code looks fine. Can you show me the full file please? Never seen this before.

[2016-10-05 14:12] kvieira90 commented on #35
@satya164 I'll send you a gist later today.

[2016-10-05 15:08] satya164 commented on #35
@kvieira90 Thanks a lot!

[2016-10-06 15:17] satya164 commented on #35
Hey @kvieira90 ! Any luck?

[2016-10-07 12:50] kvieira90 commented on #35
On it's way @satya164

[2016-10-10 02:25] kvieira90 commented on #35
@satya164 Any luck?

[2016-10-10 04:46] satya164 commented on #35
@kvieira90 Gimme a sample repro, or I won't be able to try.

[2016-10-10 11:24] GCour opened #37 "Shadow iOS"
Works great! Removed the other scroll tab component and replaced it with this one..

The only thing that bothers me a bit is that there's no shadow on iOS, only Android. Any way to fix this?

[2016-10-10 11:38] satya164 commented on #37
@GCour You can pass a `style` prop to the tab bar with box shadow

[2016-10-10 11:38] satya164 commented on #37
BTW I've more improvements coming - https://github.com/react-native-community/react-native-tab-view/pull/36 :D

[2016-10-10 13:03] GCour commented on #37
@satya164 I have added following style but the shadow is not showing:

[code]

[2016-10-10 13:05] satya164 commented on #37
@GCour thanks. I'll have a look at it in an hour.

[2016-10-10 13:32] kvieira90 commented on #35
@satya164 I sent you a gist, do you need to actually run the repo?

[2016-10-10 13:52] satya164 commented on #35
@kvieira90 Where? 😱

[2016-10-11 17:06] satya164 commented on #37
@GCour Hey, just tried this. Shadow works fine when you set a `zIndex` to move the tab up :)

[code]

[2016-10-11 17:15] satya164 commented on #37
In next release there'll be a hairline shadow (like the navbar) below the tab bar by default. https://github.com/react-native-community/react-native-tab-view/commit/6c767ced7636302303922ee7332d0b5d841fe136

![image](https://cloud.githubusercontent.com/assets/1174278/19280619/5addc0a8-9004-11e6-9514-14d614a9cde8.png)

[2016-10-12 07:02] satya164 commented on #37
It's up - https://github.com/react-native-community/react-native-tab-view/releases/tag/v0.0.32

[2016-10-16 00:38] julienvincent opened #38 "Unable to 'Cancel' swipes properly"
Thanks for this very well written library. Very performant with a highly reusable API. One issue I did find with it is that its hard to cancel a swipe.

If you start a swipe in a direction, lets say `to the right`, and then attempt to cancel by reversing the swipe `to the left` - the left scene will still open (unless your swipe ends with no velocity and is past the threshold)

[2016-10-16 00:40] julienvincent commented on #38
There should probably be some logic detecting if the current motion is in the opposite direction to the initial direction. I will take a look at the source and submit a PR when I get some time, but thought I'd open an issue incase someone wants to get to it sooner.

[2016-10-16 10:28] julienvincent opened #39 "Exponent example doesn't work with yarn"
So I'm attempting to get the example running on my local machine but am having trouble running the example on my iOS sim.

On the device I get the following error: `undefined is not an object (evaluating 'meta.fileHashes')`

And in Exponent logs I am getting the following stack:

[code]

[2016-10-16 10:44] satya164 commented on #39
@julienvincent That's weird. Exponent example works fine for me [here](https://getexponent.com/@satya164/react-native-tab-view-demos). Will check again in a minute.

cc @skevy @brentvatne any idea what's happening?

[2016-10-16 10:45] julienvincent commented on #39
I'm in the process now of nuking and reinstalling. internet is in the drain so this gonna take some time :-<

[2016-10-16 10:45] satya164 commented on #39
@julienvincent Use yarn :)

[2016-10-16 10:47] julienvincent commented on #39
I did initially, thats why I'm using npm now to see if it was maybe yarns fault

[2016-10-16 10:48] satya164 commented on #38
Thank you :)
Can you give a video of what's happening?

![tabs](https://cloud.githubusercontent.com/assets/1174278/19416937/1f591bac-93bc-11e6-9492-0b76ce9619da.gif)

[2016-10-16 10:49] julienvincent commented on #39
Hmm, `npm i` in `/example` hangs with no output or loader.

[2016-10-16 10:50] satya164 commented on #39
Try with `--verbose` maybe? Must be the connection

[2016-10-16 10:50] satya164 commented on #39
I'm running `rm -rf node_modules && yarn` to see if I can repro it

[2016-10-16 10:51] julienvincent commented on #38
Sure - how do you make these gif vids? :P

[2016-10-16 10:51] satya164 commented on #38
@julienvincent this - https://github.com/jclem/gifify

[2016-10-16 10:52] julienvincent commented on #39
ran with `--verbose`, it gets to this point and then hangs:

`npm verb afterAdd /Users/julienvincent/.npm/react/15.3.1/package/package.json written`

Doesn't look like connection issue but perhaps.

[2016-10-16 10:56] julienvincent commented on #39
Gave up on the `npm i`. Current have a node_modules populated with npm in root and a node_modules populated with yarn in example. Still get the undefined error.

Exponent outputs this when running the packager:
[code]

[2016-10-16 10:58] satya164 commented on #39
ok, so seems the example doesn't work with yarn. but `rm -rf node_modules && npm i --cache-min 999999` works fine.

[2016-10-16 11:00] satya164 commented on #39
I just republished the example to exponent successfully at https://getexponent.com/@satya164/react-native-tab-view-demos

seems some issue with your machine and npm?

[2016-10-16 11:04] julienvincent commented on #39
Ok cool so I just need to get it going with `npm`. 👍  Will try with cache

[2016-10-16 11:11] julienvincent commented on #38
![swipe mov](https://cloud.githubusercontent.com/assets/8571121/19417028/eebfec9c-93a1-11e6-8e5e-13190ee93583.gif)

[2016-10-16 11:15] julienvincent commented on #38
From looking at the source I think the [following line](https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabViewPanResponder.js#L76) is what needs to change. This should contain some logic like `isMoving && !isMovingOppositeDirection`.

Will confirm once I get the example running locally

[2016-10-16 11:17] julienvincent commented on #39
Still hanging :< what node version are you running?

[2016-10-16 11:18] satya164 commented on #38
@julienvincent Thanks a lot. We'll probably need to keep track of the latest direction like in `respondToGesture` and then react accordingly.

[2016-10-16 11:19] satya164 commented on #39
@julienvincent Weird. I've 5.12.0

[2016-10-16 11:20] julienvincent commented on #39
Let me try `v5`. I'm running `6.7`

[2016-10-16 11:23] julienvincent commented on #39
Ah - `v5` is no longer hanging. Still gonna take me some time due to bad internet but I can see that it is actually downloading now. Can you try use `v6` and confirm that it's not just my machine?

[2016-10-16 11:24] julienvincent commented on #38
@satya164 Agreed 👍

[2016-10-16 11:24] satya164 commented on #39
@julienvincent Ok, will do. Weird that v6 won't work

[2016-10-16 12:33] julienvincent commented on #39
@satya164 Ok so the install finished - example is working well but not gonna close this quite yet - We should figure out why it isn't working with yarn. I think the hanging on node 6 is most likely just due to my machine/web, but it would be good to get this working with yarn. probably just a missing dep install or something

[2016-10-17 09:32] wzy535 opened #40 "tabbar.js can't change label and icon's color"
Hi,
 In this example :https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/BottomBarIconTextExample.js
I can't change label's style and icon's color.
I set icon color in color's style. but not work!
please help! Thanks in advance!!

[2016-10-17 09:57] satya164 commented on #40
@wzy535 Can you share your code?

[2016-10-18 01:14] wzy535 commented on #40
`export default class HomeView extends React.Component{

	state={
		index:0,
		routes:[
			{key:'site',title:'Top',icon:null,labelStyle:{color:'#222'}},
			{key:'collection',title:'User',icon:null,labelStyle:{color:'#222'}},
			{key:'user',title:null,icon:'user',labelStyle:{color:'#222'}}
		],
	}
	_handleChangeTab(index){
		this.setState({
			index,
		})
	}
	_renderScene({route}){
		switch(route.k

[2016-10-19 12:55] #38 closed

[2016-10-20 00:06] dannycochran opened #46 "style set warning as of version 0.0.35"
I just upgraded to the new release (0.0.35) and now get this warning, appears to be coming from TabBarTop.js:

YellowBox.js:69 You are setting the style `{ position: ... }` as a prop. You should nest it in a style object. E.g. `{ style: { position: ... } }`

<img width="1192" alt="screen shot 2016-10-19 at 5 05 50 pm" src="https://cloud.githubusercontent.com/assets/1217178/19541830/571aa18c-961e-1

[2016-10-20 00:30] satya164 commented on #46
@dannycohran oh, sorry for that. You can safely ignore it. It's because React thinking the normal position prop is a style prop. I was testing in production mode, so didn't catch it. Will do another release in a minute.

[2016-10-20 00:37] #46 closed

[2016-10-20 00:39] satya164 commented on #46
Published a new version. The warning should be gone now.

[2016-10-20 00:43] satya164 commented on #40
You're not using the styles properly. You have to add the styles in the stylesheet at the bottom. For label you have an empty object in styles and added actual styles in state. Move it to the `labelStyle` object at the bottom.

For icon you're not using the icon style. Pass `style={styles.iconStyle}`

[2016-10-20 00:43] #40 closed

[2016-10-20 01:35] dannycochran commented on #46
@satya164 thanks!

[2016-10-20 02:56] ochanje210 opened #47 "styling text label on a tab bar"
It seems the texts automatically becomes capital letters even if they were small letters..
How do u keep the text labels small letter?

[2016-10-20 04:03] satya164 commented on #47
@ochanje210 You can use the `renderLabel` prop to return a react element.

e.g. -  `renderLabel={route => <Text style={{ margin: 8 }}>{route.title}</Text>}`

[2016-10-20 04:04] #47 closed

[2016-10-20 04:19] ochanje210 commented on #47
@satya164 I appreciate your help!!

[2016-10-20 05:59] farzadab opened #48 "Problem with npm package"
When I try to install the package with npm, I get the error:
`npm ERR! cb() never called!`
The package `react-addons-shallow-compare` is okay, the problem is with `react-native-tab-view`

-----
my npm version: `3.10.8`
my node version: `v6.9.1`

[2016-10-20 06:14] julienvincent commented on #48
Using yarn - I also cannot install. yarn stack:

[code]

[2016-10-20 08:11] satya164 commented on #48
I published with yarn, which was not probably a good idea. Can you try installing again? Just published 0.0.37. Can you try again?

[2016-10-20 08:11] #48 closed

[2016-10-20 08:14] julienvincent commented on #48
Working 👍

[2016-10-20 08:50] farzadab commented on #48
Thx :)

[2016-10-20 20:19] dannycochran opened #50 "returning undefined for renderHeader results in strange behavior"
I have a TabViewAnimated component that switches between two routes, but does not show a TabBarTop until a state is triggered.

**Behavior**
1. upon first load, returns undefined for renderHeader, as I don't need a header, just the first page from my state.routes
2. once a certain state is changed to true, the header is then rendered, and a user can switch between both the routes with the header.

[2016-10-20 21:31] satya164 commented on #50
Hey. Can you provide a simple exponent project with an example? I'll try to debug this

[2016-10-21 22:52] oopdafp opened #51 "Render TabBar separate from TabView"
Hey great & under-appreciated library! If I want my TabBar to overlay the tabview (Like I have a custom navigation and want to render the TabBar underneath it), I get it working with TabBarTop using absolute positioning, but only when scrollEnabled.  Anyone know the case, or a better approach?  (My custom navigation & content are not easily separated into separate components)

[2016-10-22 11:06] satya164 commented on #51
@oopdafp Hey. Thank you :D

absolute positioning should work without `scrollEnabled`. If it's not working, I'll check why.

You could always use the [Portal](https://joecritchley.svbtle.com/portals-in-reactjs) approach where you render the component somewhere else if your navigation and content aren't easily separated.

[2016-10-22 11:09] satya164 commented on #51
@oopdafp Hey. Thank you :D

absolute positioning should work without `scrollEnabled`. If it's not working, I'll check why.

You could always use the [Portal](https://joecritchley.svbtle.com/portals-in-reactjs) approach where you render the component somewhere else if your navigation and content aren't easily separated.

Also, the `renderHeader` function doesn't even have to be in the same componen

[2016-10-22 23:33] oopdafp commented on #51
When I tried absolute posiitioning with scrollEnabled=false, then it would position only the container & only the indicator would render (background color & label didn't render, for me at least)

Also, thanks I'll try the portal approach - my context is that my custom nav uses 'refs' many times to reference state of the components, so it would be harder to separate them.

[2016-10-23 08:04] satya164 commented on #51
@oopdafp Thank you. I'll debug this when I get some time. Do you have a example repo somewhere?

You could prevent switching to a tab with the `canJumpToTab` prop (check README), it didn't work properly when swipe is enabled though, do need to fix that.

[2016-10-25 23:02] oopdafp commented on #51
@satya164

Thanks so much! That worked for me - I'll close the issue.

I do not have an example repo, but I know that it was

[code]

[2016-10-25 23:02] #51 closed

[2016-10-26 06:28] FrankBlue opened #53 "what does "export type ..." means"
hello. I'm a newer of react coder.There are much code that like 'export type ...' or import type  {some class}' . so , what does it means. I've searched a lot ,but I still have no idea about it.Thank you very much.

[2016-10-26 10:34] satya164 commented on #53
it's Flow for static type checking - https://flowtype.org/

[2016-10-26 10:34] #53 closed

[2016-10-26 17:37] sibelius opened #54 "TabBar is not rendering anything on RN 0.37"
![image](https://cloud.githubusercontent.com/assets/2005841/19737307/ae98e64e-9b91-11e6-8db1-95259b6a18de.png)

it is working fine on RN35

this is my code

[code]

styles

[code]

[2016-10-27 04:36] satya164 commented on #54
That's strange. Do you have an example app which I can quickly try out?

[2016-10-27 04:46] FrankBlue commented on #53
Thank you very much

[2016-10-27 16:24] Rebsos commented on #54
I'm also facing problems with React Native 0.36.0
Nothing renders. If i past the example into my app, the scene renders, but not the tabbar.
RN35 is OK

[2016-10-28 04:39] satya164 commented on #54
@Rebsos I'm gonna try this tonight. Is this on Android or iOS?

[2016-10-28 09:55] MatthiasDebaere commented on #54
We are having the same issue, both on Android and iOS (tested on multiple devices). No rendering of labels whatsoever, RN version 0.36.0 and react-native-tab-view version 0.0.37.

[2016-10-28 13:02] satya164 commented on #54
I'm looking into it right now. Will keep you updated.

[2016-10-28 13:23] satya164 commented on #54
Hey, when I test with a new example and I don't see the tab bar. I suspect this is due to https://github.com/facebook/react-native/commit/c43a3f5d8412eb0dfe894a192f15efa9c41ab318

You can try putting `height: 48` as a style for the tabbar, it should fix the issue. @MatthiasDebaere @Rebsos

@Rebsos about the scene not rendering in your app. do you use a scrollview as a scene? in that case, try putt

[2016-10-28 14:56] MatthiasDebaere commented on #54
Confirmed, this fixed the issue, thanks!

[2016-10-28 15:40] sibelius commented on #54
48 as height works, tks for the help

[2016-10-28 16:07] satya164 commented on #54
I'm going to re-open this until I fix it in the lib so you won't have to specify the height.

[2016-10-31 16:06] gre opened #55 "a setState during a tab transition will cause a jump"
with current way shown in the example, it looks like I have to **control** the tab ~ like this:

[code]

the problem I see is that _handleChangeTab is always called AFTER the transition is done, but not "before" , and the problem is if one setState happen **or any tree update**, the render() get called again with the **previous tab index** which causes a jump.

I have tried `0.0.37` as well as `ma

[2016-10-31 16:31] satya164 commented on #55
Yeah, you own the navigation state.

This is a deliberate choice made to keep the transitions smooth. `setState` will trigger React's reconciliation algorithm which can cause jank when gesture is starting. Also we really don't know which tab you'll settle on until the transition is done, since you could be swiping quickly before stopping on your desired tab.

I think we should be able to handle it

[2016-11-02 03:37] anton-aleksandrov opened #56 "UX is inappropriate if one of the tabs contains ScrollView"
Swiping between tabs feels not good if one of tabs contains scrollview: scrollview prevail on swiping too much, so it's hard to swipe between tabs instead of scrolling up and down.

Try to apply this piece of code to this library:

[code]
This feels way better.

[2016-11-03 01:42] robtaireeo opened #57 "Tabs header do not render with react native 0.36"
Tabs header do not render with react native 0.36

[2016-11-03 04:16] satya164 commented on #57
Duplicate of #54

[2016-11-03 04:16] #57 closed

[2016-11-03 22:07] #55 closed

[2016-11-06 03:42] satya164 commented on #50
Did you figure out? My first guess is `zIndex`. It has all sorts of weird behaviour. Could you try specifying `zIndex` as `0`?

[2016-11-06 03:48] satya164 commented on #56
I'm not sure about this. In the app we were working on, I found the swipe was triggering a lot when scrolling.

[2016-11-06 07:34] ryankask commented on #54
I just upgraded and I'm getting "Invalid prop `overflow` of value `scroll` [...]" on an older version of RN.

[2016-11-06 11:21] satya164 commented on #54
@ryankask Unfortunately I've to drop support for old version of React Native to be able to fix the bug. I wish there was a better way :(

[2016-11-06 12:47] satya164 commented on #35
Hey @kvieira90 ! Still interested in taking a look at the issue.

[2016-11-06 18:42] ryankask commented on #54
Understandable! I'll be upgrading RN soon and I'm sure a lot of users try to keep up to date.

[2016-11-09 12:47] Andreyco commented on #54
To note, this is still issue on RN 0.37.
Unless I specify tabbar height it's not visible.

[2016-11-09 13:08] satya164 commented on #54
@Andreyco so it broke again then? Hmm... I'll check.

[2016-11-09 13:12] Andreyco commented on #54
Yes, it is. Top/bottom bars are not visible.

[2016-11-09 19:35] Rebsos commented on #54
Sorry for responding that late and thank you for your great work.

Yes i'm using a ScrollView and here are my recent tests

React-native + React-native-tab-view
0.36.1 + 0.0.37: working
0.36.1 + 0.0.38: working
0.37.0 + 0.0.37: working
0.37.0 + 0.0.38: working

tested on Android Emulator

[2016-11-09 22:29] Andreyco commented on #54
Retested on iOS and Android right now - not working.

[2016-11-10 00:36] emmajam opened #59 "Cannot disable swipe in Tab View Animated"
My component and it's props:
[code]
This is my header bar:
[code]

No prop to disable swipe gestures...?

[2016-11-10 05:01] satya164 commented on #59
Please check the docs - https://github.com/react-native-community/react-native-tab-view#tabviewpagerpan-
And examples - https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/NoAnimationExample.js#L126

[2016-11-10 05:01] #59 closed

[2016-11-10 05:02] satya164 commented on #54
Thanks all. I'll check this ASAP.

[2016-11-11 05:12] mrjcka opened #60 "Navigation within page"
Hi there, thank you for this amazing plugin, I found it so much easy to implement quality navigator.

I run into a situation that need to navigate to different page within a page content instead of TabBar icons. I had a look through and did not find the solution, I hope that there is a way to do that

Cheers!

[2016-11-11 05:35] satya164 commented on #60
@mrjcka You can do `this.setState({ index: 3 })` to navigate to the 3rd page and so on.

[2016-11-11 05:35] #60 closed

[2016-11-11 05:47] satya164 commented on #54
Sorry I just tested `0.0.38` in a fresh project with React Native `0.37` and `0.38` on Android and iOS and it's working fine without having to specify height. There's a bug where the hairline shadow in iOS is not visible, but that's a separate thing.

Are you sure you are using correct version? Can you share the example project for me to test?

[2016-11-11 06:08] mrjcka commented on #60
Thanks for the answer Satyajit! I wasn't explain well my case but I have found way to work around from your answer.

For anyone who run into the issue, the case is instead of return a <View> directly through _renderScene (see from repository example), I rendered a view component from different file.
To navigate to different tab, I passed _handleChangeTab into the view component as below and called

[2016-11-11 06:25] satya164 commented on #60
@mrjcka Yes, that's the correct solution.

[2016-11-11 07:37] moonjava2005 opened #61 "Top inset of TabBar (ScrollView)"
Hi
When we want to set height of tab in order to fit the text, scrollview still have an top inset
You should add
automaticallyAdjustContentInsets={false}
to ScrollView of TabBar.js

[2016-11-11 09:22] kevinresol opened #62 "Configurable inactiveOpacity"
The value is now hardcoded as 0.7 here:
https://github.com/react-native-community/react-native-tab-view/blob/2f003f9/src/TabBar.js#L308

[2016-11-11 09:30] satya164 commented on #61
@moonjava2005 can you post a screenshot of what you mean?

[2016-11-11 09:41] satya164 commented on #62
You can override the opacity in `tabStyle` prop. And then specify any style you want in `renderLabel`, including color and opacity.

Something like,

[code]

Refer to the `ScrollViews` example which uses custom colors for the text

[2016-11-11 09:42] #62 closed

[2016-11-13 04:49] ingvardm opened #63 "Invalid prop overflow of value scroll"
Getting this error with example, code, or anytime i try to import a class (import { TabViewAnimated, TabBarTop } from 'react-native-tab-view';)

[2016-11-13 05:47] satya164 commented on #63
The latest version doesn't support React Native < 0.35. Update React Native or install the version `0.37`

[2016-11-13 05:47] #63 closed

[2016-11-13 08:17] ingvardm commented on #54
Im curently using rn 0.37 and tab-view 0.0.38 and it doesn't render.
Worked before with rn 0.35 if  i chenged overflow:'visible' in tabbar.js

[2016-11-13 14:09] satya164 commented on #54
@ingvardm You shouldn't specify any `overflow` value. Try removing `overflow` and lemme know if it still doesn't work.

[2016-11-13 14:32] ingvardm commented on #54
Works only with rwact-native#0.35 with this modification
`tabbar: {
    backgroundColor: 'black',
    elevation: 4,
    shadowColor: 'black',
    shadowOpacity: 0.1,
    shadowRadius: StyleSheet.hairlineWidth,
    shadowOffset: {
      height: StyleSheet.hairlineWidth,
    },
    zIndex: 1,
    overflow: 'visible',
  },`

[2016-11-13 14:51] satya164 commented on #54
Yes, that's why `react-native-tab-view@0.0.38` doesn't support `react-native@0.35`. You should use `react-native-tab-view@0.0.37` with `react-native@0.35`.

Can you share an example project where the latest version doesn't work with `react-native@0.36` and above when you don't specify any overflow value?

[2016-11-13 14:58] ingvardm commented on #54
`
import React, { Component } from 'react';
import { View, StyleSheet } from 'react-native';
import { TabViewAnimated, TabBarTop } from 'react-native-tab-view';

import PageExplore from '../pages/Explore';
import PageChats from '../pages/Chats';
import PageEvents from '../pages/Events';

const styles = StyleSheet.create({
  container: {
    flex: 1
  },
  page: {
    flex: 1,
    alignItems: 'cent

[2016-11-13 15:01] satya164 commented on #54
@ingvardm I tested with RN 0.36, 0.37 and 0.38 and all were working. What's your version of RN and version of react-native-tab-view?

[2016-11-13 15:04] ingvardm commented on #54
0.35 + 0.0.37 works with the workaround
Anything else just doesn't render.
Sorry, the repo is private :/

[2016-11-13 15:07] satya164 commented on #54
@ingvardm Can you tell me the exact version of React Native and react-native-tab-view on which you tested so I can try it?

You shouldn't have to specify `overflow: 'visible'` if you're using `react-native@0.35`.

[2016-11-13 15:13] ingvardm commented on #54
0.37 + 0.0.38/0.0.39 doesn't work
0.35 + 0.0.37 works

[2016-11-13 15:32] satya164 commented on #54
I just tested `react-native@0.37` with `react-native-tab-view@0.0.39` on both Android and iOS with the default example and tabbar is rendering fine for me.

Sorry I cannot debug without a reproducible example. Happy to look into it if anyone can provide me a reproducible example.

[2016-11-14 09:31] jankalfus opened #64 "Requires react-native >=0.36?"
It would be nice to state somewhere that this requires react-native version at least 0.36 (or whenever was overflow: "scroll" introduced). On react-native 0.32, you get the infamous red box screen stating that View doesn't support overflow: "scroll", only "visible" or "hidden".

[2016-11-14 09:50] jankalfus commented on #64
Replacing "scroll" by "hidden" in TabBar.js on line 20 fixes the issue. But, I'm guessing this'll have some side effects?

[2016-11-14 19:50] satya164 commented on #64
@jankalfus Hey, yeah, this is noted in release notes, but I should add to README too. PR welcome.

[2016-11-14 20:02] jankalfus commented on #64
@satya164 Where are the release notes located?

[2016-11-14 20:09] satya164 commented on #64
https://github.com/react-native-community/react-native-tab-view/releases

[2016-11-14 20:36] jankalfus commented on #64
Ah, right. Sorry, it's late :D Here's the PR: #67

[2016-11-14 20:41] #64 closed

[2016-11-15 19:13] wildQueequeg opened #68 "scrollEnabled={false} does not work"
react-native-tab-view: 0.0.34
react-native: ^0.35.0

With scrollEnabled={false}, tabs still scroll

[2016-11-15 19:15] satya164 commented on #68
@wildQueequeg That's weird. Can you post some example code?

[2016-11-15 19:23] wildQueequeg commented on #68
@satya164

Is this usage correct?

<TabBar scrollEnabled={false}
                  {...props}
                  renderIcon={this._renderIcon}
                  renderBadge={this._renderBadge}
                  style={styles.tabbar}
      />;

[2016-11-15 19:31] wildQueequeg commented on #68
I tried it using renderPager and that successfully disables tab scrolling.
[code]

What is the difference between `swipeEnabled={false}` in renderPager and `scrollEnabled={false}` in TabBar ?

[2016-11-15 20:18] satya164 commented on #68
`swipeEnabled={false}` disables swipe gesture in the tab view.
`scrollEnabled={false}` (default) disables scrollable tabs in the tab bar.

[2016-11-15 20:18] #68 closed

[2016-11-15 23:44] ingvardm commented on #54
Fixed the issue by removing android build.

[2016-11-16 09:16] Kottidev opened #70 "Vertical TabViewAnimated"
can you add for example param "horizontal" type bool in TabViewAnimated

If true, the Animated view's children are arranged horizontally in a row instead of vertically.

[2016-11-16 09:51] satya164 commented on #70
@Kottidev It's not possible right now, but shouldn't be very difficult to add. PR welcome.

[2016-11-16 10:01] Kottidev commented on #70
@satya164 can you help me , how can i added it ?

[2016-11-17 11:30] #61 closed

[2016-11-17 11:31] satya164 commented on #54
I'm closing this. Let me know if someone is still facing the issue.

[2016-11-17 11:31] #54 closed

[2016-11-17 11:31] satya164 commented on #50
Any updates on this?

[2016-11-17 11:32] satya164 commented on #35
ping @kvieira90

[2016-11-18 03:25] julesmoretti commented on #70
Plus one with this request please 👍

[2016-11-18 10:10] satya164 commented on #70
@Kottidev Check `TabViewPanPager` code

[2016-11-22 10:10] joncursi opened #71 "Tab Content goes Blank after Route is Pushed then Popped"
Hi! I have used `react-native-tab-view` to set up a four-pane system and ran into this bug. All of my panes have "filter" buttons which push a new route onto the stack. Within the filter scene, when the user is finished, they click "Done" and it will pop that route off the stack and return to the pane being managed by `react-native-tab-view`.

I noticed that when a route is pushed, and then subseq

[2016-11-22 11:36] satya164 commented on #71
Is a React Native bug https://github.com/facebook/react-native/issues/1831

Set `removeClippedSubViews` as a workaround.

[2016-11-22 11:36] #71 closed

[2016-11-22 12:03] joncursi commented on #71
Thank you!

[2016-11-23 18:55] chirag04 opened #72 "cannot swipe in ios simulator"
i think the default example should be good enough to replicate. I haven't tried tho. Our app is using the having the same setup as default example.

cc @satya164

[2016-11-23 18:57] satya164 commented on #72
@chirag04 I'll check this soon. thanks for the reminder

[2016-11-29 03:06] mrjcka opened #73 "Extra page without inserting the icon for TabBar"
Howdy,

I have recently run into situation that I need an extra page/view that not include the icon into the TabBar, my current solution is adding an extra if as below

Line 303 in src/TabBar.js
[code]

Replace with
[code]

Then in the state setup

[code]

Also setup as normal for 3 keys (as above example)
[code]

Happy to do a PR if this sounds good.
Cheer!

[2016-11-29 03:33] satya164 commented on #73
I think you can achieve it by following too,

[code]

Same for `renderFooter`.

I've not tried it though. Try and lemme know if it works for you.

[2016-11-29 04:55] mrjcka commented on #73
There might be a miss understanding,
I believe solution you provided was trying to hide all icons (which your code works as I tried).

The situation I ran into was having 6 routes but only need to display icon of 4 in the TabBar

[2016-11-29 05:30] satya164 commented on #73
@mrjcka Hmm... no, it wasn't to hide all icons

[2016-11-29 06:01] mrjcka commented on #73
I tried again, it does works!
Cheers!

[2016-11-29 06:01] #73 closed

[2016-11-29 11:42] skeie opened #74 "A onChange method?"
First off, thanks @satya164! This project is amazing!

I had one question. I would like to have a callback that gets called before a scene is changed. My use case is that I have a header with an icon. And the source of that icon depends on which route my `TabView` is on.

As of now, I use the `onRequestChangeTab` callback, but then the image is not updated until the transition is finished.
I could

[2016-11-29 12:12] satya164 commented on #74
`onChangePosition` sounds like the good way to go for your use case. Something like,

[code]

Doesn't look very hacky :)

[2016-11-29 12:28] skeie commented on #74
Aha, I hadn't thought this through :-). Thanks for the detailed answer.

[2016-11-29 12:28] #74 closed

[2016-11-30 01:20] rstegg commented on #50
I have a problem with renderHeader as well, and it's so small I didn't want to open an issue:

when I have TabViewAnimated set lazy={true}, renderHeader loads after the scene.  Is this intended or a bug?  I want the scenes to lazy load, but I don't need the header to be lazy loaded.

[2016-11-30 02:14] satya164 commented on #50
Hey @rstegg . I don't think I understood the issue. lazy loading scenes shouldn't affect how header is loaded. If it's getting affected, it's bug. Do you have a demo somewhere I could take look?

[2016-11-30 18:04] polmoneys opened #75 "How To: Horizontal swipes inside TabViewAnimated"
Thank you for this component <3

Trying to solve one problem my guess it's very common without any luck. App has 3 screens, on two of them I'd like to be able to swipe horizontally without changing the screen. On isolation work,but when mixing it with TabViewAnimated both fail.

![screenshot](https://cloud.githubusercontent.com/assets/7026863/20764147/2a355a06-b72d-11e6-926f-b70b7dd64119.png)

(Co

[2016-11-30 18:12] satya164 commented on #75
@polmoneys You probably just want to disable horizontal swiping on tabs? That'd work for you I think

https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/NoAnimationExample.js#L132

[2016-11-30 18:15] satya164 commented on #75
You could probably conditionally set it like `swipeEnabled={this.state.index === 2}` (if you want swipe to be enabled only on second tab)

[2016-11-30 18:17] polmoneys commented on #75
my hope was not to lose horizontal swiping to switch tabs, some sort of checking for the distance of the swipe and decide if 'greater than'.
thanks for swipeEnabled={this.state.index === 2} this might be the answer, let me try it and get back to you. GRACIAS !

[2016-11-30 18:22] satya164 commented on #75
@polmoneys

`TabViewPagerPan` does accept a `swipeDistanceThreshold` prop, I'm not sure if it will work with another swipeable element, but worth a try. Though I think this behaviour might be a bit confusing for the user.

[2016-11-30 23:18] jephtta opened #76 "Frame drops when switching tabs"
When the app starts, i make some api calls  for data to update the UI in 3 (out of 5) of the tabbed components.
Now if an attempt to switch tabs coincides with the exact moment the UI within any of the tabs is being updated, there is a very obvious drop in frames, and stuttering in the tab switching animation.
Any advice on how to eliminate these?

[2016-12-01 05:41] #75 closed

[2016-12-01 05:54] satya164 commented on #76
It's not possible since JS is single threaded. Until the ongoing work on native animations is done, we don't have much luck.

You could try few things though,

1) Defer updating the UI until the interaction is finished through `InteractionManager` - https://facebook.github.io/react-native/docs/performance.html
2) You can try using `<TabViewPagerScroll />` on iOS and `<TabViewPagerAndroid />` on An

[2016-12-01 07:24] jephtta commented on #76
Thanks @satya164 . Was actually holding off using InteractionManager until i heard your input. Thought I was doing something wrong. Will close this after a while if there are no more inputs.

[2016-12-01 07:35] satya164 commented on #76
👍

[2016-12-02 12:09] alexcurtis opened #77 "TestID for Automated UI Testing"
I'm using XCodes Automated UI Testing for Fastlane Snapshots in RN.
Is it currently possible to add a `accessibilityTraits="button"` and `testID` prop to each tab button so I can reference it?

[2016-12-02 12:23] satya164 commented on #77
Sure. Feel free to send a PR

[2016-12-02 12:31] alexcurtis commented on #77
cool. will do 👍

[2016-12-03 10:41] adremalin opened #79 "Does this work with a large ListView inside each tab view?"
Hi!

I need to have one ListView inside each tabbed view. These will be very big with images etc. Is this compatible with react-native-tab-view? If so, how to add content like a ListView?

Thanks!

[2016-12-03 17:52] satya164 commented on #79
It works with any kind of content. Please check the examples folder which includes an example for ListView.

[2016-12-03 17:52] #79 closed

[2016-12-04 09:36] adremalin commented on #79
I found it! Wow, you have done some great coding. Very good code. Will definitely recommend this to more people. Thanks!

[2016-12-04 17:17] viettranme opened #80 "How to do optimization with renderScene?"
Hello,

In the [optimization tips](https://github.com/react-native-community/react-native-tab-view#optimization-tips), there's the instruction to move the renderScene to a separate component and apply  shouldComponentUpdate to prevent unnecessary re-renders. I have tried with different codes but they still not working. The UI is not updated as the function shouldComponentUpdate returns false.

My

[2016-12-04 18:17] satya164 commented on #80
I meant that instead of inlining the view logic for each route in `renderScene`, separate each route into a `PureComponent`. In your code, `ComponentClass` should be a pure component. No need for a separate `MySeparateComponent` component.

[2016-12-04 18:17] #80 closed

[2016-12-04 18:42] satya164 commented on #79
@adremalin Thank you 😁

[2016-12-05 03:51] viettranme commented on #80
Thanks for your feedback. It seems that the problem is still there. The function renderScene is called many times when the tab index is changed, and leads to multiple expensive view re-rendering. Could you please give a code sample to clarify your optimization instruction? Thanks

[2016-12-05 08:22] viettranme commented on #80
I have solved this. Code for reference as below:

`
class TabViewExample extends React.Component {
...
 _renderScene = ({route}) => {
    // Resolve to a component, for example like the MyPureComponent below
    let ComponentClass = RouteHelper.resolveComponentClass(route.key);
    return <ComponentClass/>;
  };
...
}

class MyPureComponent extends React.Component {
  shouldComponentUpdate(nextPro

[2016-12-05 11:23] satya164 commented on #80
Glad you figured it out! Any suggestions what I should write so its more obvious?

[2016-12-05 15:22] viettranme opened #81 "Long delay between tab transition end and tab header update"
Hello,

In the example below, I use two methods for tab navigation:

* Method 1: by clicking on tab headers ( using jumpToIndex)

* Method 2: by swiping tab views (using onRequestChangeTab)

These two methods show different user experiences.

* In case of method 1, the tab top bar is updated instantly to reflect tab change.

* In case of method 2, there's a quite noticable and somewhat annoying de

[2016-12-05 15:34] satya164 commented on #81
Tab transitions use a spring animations which takes some time to settle. The navigation state is not updated until the animation finishes.

If you want to style the selected tab differently, you should use the animated `position` prop which is passed into the callback. This way the text color/background color will change from one to the other while swiping.

Here's a simple example which changes t

[2016-12-05 15:38] viettranme commented on #81
@satya164: I know the navigation state is not updated until the animation finishes. The problem here is that there's quite long delay from the animation finishes until the tab header is updated (for example: it's style in this case). When you run the example you can see the issue there.

[2016-12-05 15:44] satya164 commented on #81
@viettranme The problem is you're relying on navigation state to update the tabs. When swiping, you don't know what's the next tab that'll be selected. We cannot update the navigation state. The tab header is not re-rendered until navigation state changes. We need to wait for the swipe to finish.

Now, we can just update everything when the swipe finishes, but this will cause a frame drop between

[2016-12-05 15:55] viettranme commented on #81
OK, I see. This is because of "spring animations take long time to settle down" issue.

In my app, there is another bar above the tabbar to show title of the current tab. Is it possible to guess the target tab by using the _position_ prop?  Thanks

[2016-12-05 15:58] satya164 commented on #81
@viettranme You cannot directly use the `position` prop, but you can do this,

1. Create an animated value in the parent `const tabPosition = new Animated.Value(0)`, and pass it down
2. Update it's value on `onChangePosition` callback, `_handleChangePosition = value => this.props.tabPosition.setValue(value)`

[2016-12-05 16:04] viettranme commented on #81
Let me try with your suggestion. Thanks @satya164.

[2016-12-05 16:05] satya164 commented on #81
@viettranme Lemme know.

[2016-12-05 17:13] viettranme commented on #81
@satya164 I have created a wrapper with a state attribute tabPosition + a callback to guess tabPosition based on the animated postion props of the tab view (using Math.round).

[code]

**The result**
Now, my custom top bar can be updated very quickly on tab view swiping (as it is re-rendered based on the guessed tab position), so this is OK.

The issue is still with the original tabbar of the comp

[2016-12-05 17:27] satya164 commented on #81
You can use the `position` prop there to change the styles. For icons you can have one on top of another and cross-fade. Check the example I linked to.

[2016-12-05 17:55] viettranme commented on #81
Thanks @satya164, now I can change the styles of selected tab item. For the icons cross-fade animation, do you have an example somewhere? (I am quite new with react-native animation.) Thanks in advance

[2016-12-05 18:56] satya164 commented on #81
@viettranme Don't have an example, right now, but you can just place 2 icons absolutely positioned above a=one another, and then give them opacity,

[code]

[2016-12-06 09:40] satya164 commented on #81
Moving the code to render won't matter because a render isn't triggered until state is updated. We avoid updating state between the transition because it makes the animation feel janky, especially on Android.

The proper way is to use `position` prop if we want good performance. That's what's used internally everywhere.

[2016-12-06 13:40] viettranme commented on #81
Just to clarify my idea as it may be helpful for other readers:

I mean:

1. In the TabAnimatedView.js, we move the code from the _renderItems() function to the render() function as following:

[code]

2. The handler _handleChangePosition will guess the target tab position (by using Math.round) and update a state attribute _tabIndex_

3. Due to this state change, the <RENDER_HEADER_CODE> and <REND

[2016-12-06 21:38] #76 closed

[2016-12-07 15:13] wildQueequeg opened #82 "Any way to hide tab bar?"
Is there any way to hide tab bar in child views? For example if I go to a camera view, is there anyway I can hide it there?

I have an app with three tabs A, B, C. In tab C's root view navigates to a camera view which is where I want to hide the tab bar.

[2016-12-07 15:15] satya164 commented on #82
@wildQueequeg can you describe a bit more? if you don't want a tab bar, you can just avoid passing a `renderHeader` prop.

[2016-12-07 15:27] wildQueequeg commented on #82
I added a state to the TabView hideTabBar and passed a callback to other views to toggle it. Is this the best approach?

[2016-12-07 15:58] satya164 commented on #82
@wildQueequeg sounds good to me

[2016-12-07 15:58] #82 closed

[2016-12-09 14:07] bevkoski opened #83 "Transition is not optimal when jumping multiple tabs"
When tapping on a tab located multiple tabs farther away from the current one, the transition is not very smooth. It hops once or twice before settling in the correct position.

It can be reproduced using one of the examples provided (https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/TopBarTextExample.js). I also made a GIF in order to illustrate this more cle

[2016-12-10 08:51] PuYart opened #84 "Unknown named module: 'react-native-tab-view'"
I just copy the Example code in README, but it doesn't work... Please help me.

react-native: 0.39.1

<img width="476" alt="2016-12-10 16 51 59" src="https://cloud.githubusercontent.com/assets/13675762/21072322/0199b596-bef9-11e6-9055-ac2965760f64.png">

[2016-12-10 09:53] satya164 commented on #84
Did you install it first? `npm install -S react-native-tab-view react-addons-shallow-compare`?

[2016-12-10 12:29] PuYart commented on #84
sure... I have installed them and checked them in node_modules...
it seems that something happens on my React Native. any modules I installed throw this error.

[2016-12-10 12:30] #84 closed

[2016-12-11 17:10] bevkoski commented on #83
Isn't the following a simple fix for this issue?

In TabBar.js:
[code]

This is the result:

![issue-83-possible-fix](https://cloud.githubusercontent.com/assets/6344196/21081716/ba974ec2-bfcc-11e6-9802-cc7868f420ed.gif)

@satya164, please let me know if you have some better ideas or if I should submit a pull request.

[2016-12-11 22:01] satya164 commented on #83
Hmm... Seems my comment didn't go through.

In your fix it kinda looks weird. It doesn't jump, but I can't follow the animation. It goes to left then transitions back to right (?)

Probably because `this._resetScrollOffset(this.props);` resets the offset with current navigation state, when we actually want it to be the next navigation state.

Though I don't get why it jumps in the first place, we'

[2016-12-12 10:11] bevkoski commented on #83
I slowed down the animation so that we can see the difference more clearly.

Without the fix:
- The position that it transitions to includes the ```this._scrollOffset```
- It then resets the offset in order to settle in the correct location, which results in a sudden hop

![fix-no](https://cloud.githubusercontent.com/assets/6344196/21095067/1f3b61e6-c05a-11e6-87c2-73547bed9524.gif)

With the fix:

[2016-12-12 10:17] satya164 commented on #83
With the changes, it still jumps, except it's not very noticeable. I think the first step in fixing this would be to figure out why the jumps occur, and then figure out how to fix them.

[2016-12-16 01:00] leechance commented on #72
@chirag04  the demo component must use as root component !! if used as chirld component ,maybe cannot scroll

[2016-12-20 03:06] drewwells opened #85 "HMR does not re-render scenes"
I noticed HMR does not update scenes even though _renderScene is executing. I tried adding `shouldOptimizeUpdates={false}`, but this had no effect. Is there a trick to helping HMR replace scenes effectively?

[2016-12-20 03:47] drewwells commented on #85
Turns out to only be an issue with the es6 syntax of the demo. Changing the code to this, makes HMR possible.

[code]

[2016-12-20 03:52] #85 closed

[2016-12-23 10:57] satya164 commented on #72
I cannot reproduce this issue with the example app. Do you have a repro for me @chirag04 ?

[2016-12-25 09:31] satya164 opened #87 "Tab bar shouldn't scroll when there aren't enough items"

[2016-12-25 15:40] #77 closed

[2016-12-25 15:41] satya164 commented on #39
It's a yarn issue with local and git dependencies. So I'm going to close this one.

[2016-12-25 15:42] julienvincent commented on #39
Is it resolvable though? It would be nice to be able to use yarn with this.

[2016-12-25 15:43] satya164 commented on #39
@julienvincent unfortunately it has to be fixed in yarn. we can't do anything to fix it.

`yarn` works fine with `react-native-tab-view` though. Just that the example doesn't work.

[2016-12-25 15:43] #39 closed

[2016-12-25 15:45] satya164 commented on #56
The default pager now uses native primitives. So this is no longer relevant.

[2016-12-25 15:45] #56 closed

[2016-12-25 15:45] satya164 commented on #50
Closing this due to no repro.

[2016-12-25 15:45] #50 closed

[2016-12-25 15:46] julienvincent commented on #39
@satya164 Can you describe which package.json properties within this project are causing the issue? I'm asking as I have used git packages with yarn before with no problem and would like to isolate this and open an issue with yarn if needed.

[2016-12-25 15:56] satya164 commented on #39
@julienvincent I've seen that yarn caches packages according to just the version, irrespective of where it's installed from. For example, if it has a cache of `react-native` version `0.39`, then when you point it to a git repo with the version `0.39`, it'll install the cached version and not the one from git. Same for local packages, it installs cached version and not the actual local files. It wi

[2016-12-25 15:57] satya164 commented on #70
I'm not planning to work on vertical tab view anytime soon. If someone figures out a nice way to do it, feel free to send a PR. Closing this issue.

[2016-12-25 15:57] #70 closed

[2016-12-25 16:00] satya164 commented on #39
https://github.com/yarnpkg/yarn/issues/2165

[2016-12-25 16:02] satya164 commented on #39
https://github.com/yarnpkg/yarn/issues/1573

[2016-12-25 16:14] julienvincent commented on #39
Ah I see. 👍 Lets hope it gets 'fixed' or changed soon.

[2016-12-25 16:16] satya164 commented on #81
Closing the issue since this is the expected behaviour. We should document this though to avoid confusion.

[2016-12-25 16:58] #81 closed

[2016-12-26 07:42] adremalin opened #88 "multiple background colors in one view"
Hi!

I want to have many differently coloured background sections in one View. Is there a way to set color of a View part based on a Key word? I tried to do it in the renderRow() method in ListView, but it didn't override the background color set in TabVieExample _renderScene.

Like this:
https://i.stack.imgur.com/LkQEF.png

Thanks!

[2016-12-26 09:12] satya164 commented on #88
Inside your `renderRow` function you can check for something in `rowData` and set background color accordingly. You should post the question on StackOverflow to get more detailed answers which other people can also find easily.

[2016-12-26 09:12] #88 closed

[2016-12-26 11:37] bevkoski opened #89 "Indicator does not stick to the currently selected tab when scrolling"
When using a ```TabBarTop``` with ```scrollEnabled``` the indicator for the selected tab demonstrates strange behaviour. When scrolling inside the tab bar, the indicator does not remain fixed to the currently selected tab. Instead, it moves a bit along the scrolling direction before settling into the correct position.

It can be reproduced using one of the examples provided (https://github.com/rea

[2016-12-26 12:07] satya164 commented on #89
Due to the way it's implemented, it's impossible to make it follow the scroll, at least not until we can implement native animation events. It's more important to have good frame rates for the indicator rather than making it follow the scroll. Perhaps one day we'll be able to change the implementation to make it follow the scroll properly without having to sacrifice on frame rate. But it's still a

[2016-12-26 12:07] #89 closed

[2016-12-26 21:19] satya164 commented on #35
Closing since I don't have a repro.

[2016-12-26 21:19] #35 closed

[2016-12-27 15:47] chirag04 commented on #72
don't have a repo atm. going to close this since the new defaults in .42 works really nicely.

[2016-12-27 15:47] #72 closed

[2016-12-28 13:52] elie222 opened #90 "Question: how does the gradient below the tabs work?"
I'd like to replicate the design of these tabs somewhere else in my app. Specifically, I'd like to have a light gradient just below an item as this package does with tabs.

This seems to be the relevant line:
https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabBar.js#L24
`elevation: 4`.
(I'm only interested in Android.)

The problem is that this gives me a gradient a

[2016-12-28 16:30] Duhonghao commented on #84
how to solve this problem . When i import socket.io in my node ,it occoured the same problem.

[2016-12-28 16:33] satya164 commented on #90
The container view of the tabview hides the shadow overflow at the top.

[2016-12-28 16:33] #90 closed

[2016-12-28 17:39] t2 opened #91 "react-native-router-flux Integration"
How would this be configured to work with react-native-router-flux?

[2016-12-28 21:05] Nicomalacho commented on #17
@uc-asa can you tell me how you did it ?

[2016-12-30 01:03] elie222 commented on #90
What are you referring to?
This: https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabViewAnimated.js#L18

I don't see what style is hiding elevation here:
https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabBar.js#L280

[2016-12-30 02:28] satya164 commented on #90
There's nothing special. Just wrapping it inside a view hides the shadow.

[2016-12-30 04:13] elie222 commented on #90
So are we seeing the shadow below?
And I don't seem to be having success with wrapping it in a view myself.

On 29 Dec 2016 4:28 p.m., "Satyajit Sahoo" <notifications@github.com> wrote:

[2016-12-31 00:25] jephtta commented on #91
I had to do exactly this not too long ago. Quite straightforward really.
Setup the TabBar component as you would normally. Import TabBar into your routes page and set it up as one of your scenes, probably the first. That's it. Works fine.

[code]

[2016-12-31 14:46] judgejab opened #92 "Why isn't the icon color changing based on selection?"
I have a sliding tabView with two tabs. The title color changes based on whether the tab is selected. It flicks between #9B9B9B' (lightGrey) for unselected and '#666768' (darkGrey) for selected.

I'm also rendering an icon next to the title. I want the icon color to also change based on which tab is selected.

For some reason, this is not happening and the color of the icon stays at unselected reg

[2016-12-31 14:53] luco opened #93 "Working with Navigator?"
Guys,

Is there a way to make this work with Navigator? I mean, let's suppose I have 4 tabs, and in each one have a Navigator. Already tried and works. But the thing is I need to `NavigatorBar` work above the `TabViewAnimated`, but I think TabViewAnimated has` overflow hidden`.

Or, how can I bind the TabBarHeader with my navigator?

Thanks

[2016-12-31 21:26] satya164 commented on #92
The code is incorrect. This doesn't look correct, `color={color === '#666768' ? '#666768' : '#9B9B9B'}`

It should be,

[code]

[2016-12-31 21:26] #92 closed

[2016-12-31 23:05] judgejab commented on #92
Thank you!

[2017-01-01 19:54] satya164 opened #94 "Allow disabling animations for ViewPager and ScrollView"

[2017-01-02 06:24] ajonno opened #95 "Can this active tab indicator be rendered?"
hi there, thanks for publishing this component !

We need to create a tab bar (top) that has an active indicator per the screenshot. I will try your component shortly, however in advance of that do you know if this custom tab indicator can be implemented with your component ?

![image](https://cloud.githubusercontent.com/assets/3005269/21585209/3c485188-d110-11e6-960d-e0463dd125c8.png)

[2017-01-02 07:10] satya164 commented on #95
@ajonno Yeah, you could use an image for this indicator.

[2017-01-02 07:20] ajonno commented on #95
nice one. via ```renderIndicator``` ?

[2017-01-02 07:20] satya164 commented on #95
yes

[2017-01-02 07:20] ajonno commented on #95
dude that was so fast! ok thanks will give it a whirl shortly

[2017-01-02 07:21] #95 closed

[2017-01-02 09:04] ajonno commented on #95
need some guidance, im doing some testing but can't seem to modify the behavior of the ```renderIndicator``` prop.

[code]

here's the TabBarTop setup:
[code]

however there doesnt appear to be any change to the indicator. obviously im just popping some text in the onRenderIndicator method to test but is it instead expecting an <Image> or .. ?

thanks for your help.

[2017-01-02 09:16] satya164 commented on #95
You actually have to use `TabBar` instead of `TabBarTop` for custom indicator - https://github.com/react-native-community/react-native-tab-view#tabbar-

And it must be a function, so

[code]

You can copy the code from here. Change `Animated.View` to `Animated.Image` for your image - https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabBarTop.js#L70

[2017-01-02 10:07] ajonno commented on #95
oh i see. we need the custom indicator for a TopTabBar. any chance you can add this capability?

[2017-01-02 10:50] ajonno commented on #95
sorry but i dont quite follow ?  firstly we need a TapBarTop component ie. display tab bar top of view on both ios/droid.

is this currently not possible ? the onRenderIndicator method that I previously displayed (above) is invoked. however if i return the following from this method (below), there is no change to the TopTabBar indicator.

[code]

[2017-01-02 10:52] satya164 commented on #95
@ajonno `TabBarTop` is just a `TabBar` with indicator and some styling.

[2017-01-02 11:10] ajonno commented on #95
ahh sorry i should have checked the return .... i was assuming it was a separate component. all good now thanks!
[code]

[2017-01-02 16:17] lingard commented on #83
I solved this by adding a listener to the animated position prop instead of using this.props.subscribe, eg:

TabBar.js

[code]

instead of:

[code]

Maybe it's not optimal but it works for me.

[2017-01-02 16:30] satya164 commented on #83
Hmm... That's weird

[2017-01-04 12:42] #94 closed

[2017-01-05 10:10] vidhyalakshmirbt opened #96 "Render page only when tab is pressed"
Hi ,
Is there any way page is rendered only when tab is pressed/tapped /swipe is made
Because as of now all corresponding pages of the tab is getting loaded.
Componentdidmount method of all tab's associated pages are getting executed now.

Thanks

[2017-01-05 11:11] satya164 commented on #96
Use the `lazy` prop.

[2017-01-05 11:11] #96 closed

[2017-01-05 11:57] vidhyalakshmirbt commented on #96
is there any example of using that keyword "LAZY"?
Thanks,
Vidhya

[2017-01-05 12:07] satya164 commented on #96
Just pass the prop to `TabViewAnimated`.

`<TabViewAnimated lazy ...other props />`

[2017-01-05 12:12] vidhyalakshmirbt commented on #96
Thanks @satya164

[2017-01-05 17:27] theobouwman opened #97 "Scrollable Topbar"
I can't find a way to make the topbar scrollable when there are to many items.
Like in the example below:
![Image scroll](http://www.androidhive.info/wp-content/uploads/2015/09/android-scrollable-tab-layout.png)

Thanks in advance.

[2017-01-05 17:48] satya164 commented on #97
Pass the prop `scrollEnabled` to the tab bar. Check the examples.

[2017-01-05 17:48] #97 closed

[2017-01-05 17:53] theobouwman commented on #97
Thanks

[2017-01-05 18:30] theobouwman opened #98 "Bug with @exponent/ex-navigation"
I found a bug when using this tab view in combination with @exponent/ex-navigation's bottom tabs.

### How to reproduce
1. A @exponent/ex-navigation tabview with a react-native-tab-view (animated) in a tab.
2. Then switch back and forth to a @exponent/ex-navigation tab.
3. Trying to swipe to another tab in the react-native-tab-view doesn't work anymore then.
Shown below:
<img src="https://media.gi

[2017-01-05 22:40] jmparsons opened #99 "Unmount cleanup"
The method `onRequestChangeTab` persists to call the method passed to it after the component is unmounted.

If it is passed a method to setState such as the `_handleChangeTab` method in the examples, then this will throw a `setState` warning on an unmounted component.

To reproduce - run the example, click on a tab that animates, then click the back button immediately to see the setState warning a

[2017-01-05 22:48] satya164 commented on #99
Probably makes sense to add a check here before calling the method - https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabViewTransitioner.js#L187

Up for a PR?

[2017-01-05 23:00] jmparsons commented on #99
Yeah I can give it a shot. What's the best way to setup the dev? I haven't used flow and probably need to link the project folder to the example.

[2017-01-09 14:38] scriptfans opened #101 "How to custom the TabBarTop's style?"
Hi, I want to implement a custom component use this plugin, but I don't know I to change the tabbar's style, can you help me? thanks!

![image](https://cloud.githubusercontent.com/assets/359790/21769995/5b2ee1dc-d6bc-11e6-99e0-110d936a2fdd.png)

[2017-01-10 00:23] satya164 commented on #99
Sorry for not replying earlier. You just need to clone the project and run npm install in both the parent and example directories.

[2017-01-10 00:23] #99 closed

[2017-01-14 06:33] jkhedani commented on #98
@theobouwman I'm using the exact same setup as you. react-native-tab-view in an exponent nav tab view and things work fine for me. Were you able to track down the issue? Any thoughts on what might be causing the issue?

[2017-01-14 10:57] theobouwman commented on #98
@jkhedani I was not able to find the issue so far...
But I think that the mounting and dismounting of the components might cause the issue.

[2017-01-14 23:20] jkhedani commented on #98
Hmm odd. If you want to post some sample code I don't mind helping you troubleshoot a bit. Also, I'm using react-native-tab-view 0.0.42 with React Native 0.39.

[2017-01-16 04:56] Naoto-Ida commented on #91
@t2 @jephtta Do you guys happen to have an example repo of this? I am using `react-native-router-flux`'s tabs (which shows at the bottom), but inside one of the tabs I want to use this library's tab.

[2017-01-16 05:40] satya164 commented on #91
I don't use `react-native-router-flux`, but if you can dispatch an action to change the tab in`onRequestChangeTab` and pass the navigation state for the tab in `navigationSate` props, then it should work.

I'm also working on integration with the new official react navigation library to be released soon.

[2017-01-16 10:06] satya164 commented on #101
You can pass a `style` object to the tab bar.

[2017-01-16 10:06] #101 closed

[2017-01-18 08:48] keerthanarbt opened #103 "Text alignment issue"
Hi,we are trying to place the tab bar heading text in center but we couldn't do that.help us

[2017-01-18 08:55] satya164 commented on #103
Can you explain more what you're trying to do?

[2017-01-19 09:25] keerthanarbt opened #104 "TabView Font color changing issue"
we tried using labelStyle for changing font color, background color and font type but we couldn't
can you help us with the same?
Thanks

[2017-01-19 10:28] jkhedani commented on #104
@keerthanarbt If you need more control over labels in the `<TabBarTop>` element, simply construct a component template and pass it into the inherited prop `renderlabel`:

[code]

Hope this helps!

[2017-01-19 12:52] keerthanarbt commented on #104
Nope! the text is getting hidden and cannot able to see the label..

[2017-01-19 15:10] jbrodriguez opened #105 "Android: Nested tab-view doesn't display children"
On Android, there are some issues with ViewPagerAndroid, when it's nested inside a ScrollView.

This is a description of the issue on a similar component:

https://github.com/skv-headless/react-native-scrollable-tab-view/issues/187

Also, I think this is what the user that opened #24 meant.

If you edit TabViewAnimated.js like this, it works on Android

[code]

[2017-01-19 21:15] jkhedani commented on #104
@keerthanarbt Do you mind sharing some of your code base so I can help you troubleshoot what's going on? I was able to completely revamp the styles of the tab to fit the needs of my project no problem.
![screen shot 2017-01-19 at 11 14 33 am](https://cloud.githubusercontent.com/assets/1855878/22125643/9807e2ce-de38-11e6-8481-b093be077c84.png)

[2017-01-20 15:01] melihmucuk opened #106 "keyboardShouldPersistTaps should be added as a prop"
Im facing issue using with [Gifted Chat](https://github.com/FaridSafi/react-native-gifted-chat), in TabViewPagerScroll.js, I edited ScrollView props manually.

`keyboardShouldPersistTaps={'always'}`

more info: [ScrollView KeyboardShouldPersistTaps](https://facebook.github.io/react-native/docs/scrollview.html#keyboardshouldpersisttaps)

[2017-01-21 01:48] #106 closed

[2017-01-21 02:03] satya164 commented on #105
I am not sure if there's anything I can do to fix it. you can use the `renderPager` prop of `TabViewAnimated` to use `TabViewPagerPan` without having to edit the files

[2017-01-21 13:43] jbrodriguez commented on #105
I'll check that out

[2017-01-21 13:43] #105 closed

[2017-01-23 21:57] nickrobinson352 opened #107 "ScrollView not adjusting to TabPages with smaller content"
I have a React Native App, which has a ScrollView as a root tab and a TabViewAnimated  as the child with multiple tabs.

When the application runs in iOS, the ScrollView adjusts to the individual tab height and keeps growing if I switch to a Tab with more content but, it does not shrink when I visit a tab with less content, showing a lot of 'empty-space'.

The Child Component ('TabViewAnimated') h

[2017-01-25 06:03] Msspl-PrashenjeetRoy commented on #104
Does anyone have idea that how to change the current tab color.
`<TabBarTop
        {...props}
        style={styles.tabViewTop}
        renderLabel={this._renderLabel(props)}
        indicatorStyle={styles.indicator}
        scrollEnabled={false}
        renderIcon={this._renderIcon}
        renderIndicator={this._renderIndicator}
        tabStyle={styles.tab}
        />;`

I want to change the c

[2017-01-25 06:19] mochamadArif opened #109 "Uppercase on Label Issue"
Why the label is converted to uppercase? I think it's doesn't necessary. Can I change it to normal text?

[2017-01-25 06:37] #109 closed

[2017-01-25 06:38] mochamadArif commented on #109
#47

[2017-01-27 01:10] joncursi opened #110 "Change Tab Automatically on an Interval?"
I'm designing an interface with multiple slides and I'd like to tab between them automatically, i.e. slide to the next after 4 seconds. Something like this:

![d64538ec0ef4d69d3d20649c1d6dacfe](https://cloud.githubusercontent.com/assets/4974609/22356997/4879c030-e403-11e6-9bc5-67ff655cca04.png)

Any ideas on how to achieve this cleanly? Maybe a new prop?

[2017-01-27 01:23] satya164 commented on #110
Just do a `setState` in a `setInterval`

[code]

[2017-01-27 01:23] #110 closed

[2017-01-28 16:49] sectore opened #111 "Latest `v.0.0.53` is breaking tab examples of `react-navigation`"
Link: https://github.com/react-community/react-navigation/issues/63

[2017-01-28 18:10] sectore commented on #111
Fixed with `0.0.54`. @satya164 Thx for fastest support ever!

[2017-01-28 18:10] #111 closed

[2017-01-29 21:15] Vadorequest opened #112 "HMR does not re-render Header/Scene/Footer"
I'm using a demo project generated through `react-native init myApp` and I just added `react-native-tab-view` to the project. But when I changes stuff in the code, it doesn't reflect in the app, using HMR.

TabView.js
[code]

index.android.js
[code]

I'm basically using the demo/getting started code. Why the app doesn't update?

Similar issue, but wasn't helpful to me: https://github.com/react-nat

[2017-02-01 14:57] orenklein opened #113 "use of existential type (*) is incompatible with babel-plugin-flow-react-proptypes"
Even though it is not an error caused by react-native-tab-view package, it would be very appreciated for anyone using that plugin.
babel-plugin-flow-react-proptypes throws an error on the Array<*> in PanResponderTypes.js file.
I don't know how necessary it is to use * instead of any type in that case. If it's not necessary, replacing it with any type is solving the problem.
Another approach could

[2017-02-01 15:48] satya164 commented on #113
We can add more specific type definition instead of `*`, but you should file a bug report in `babel-plugin-flow-react-proptypes` repo. It shouldn't even care about `PanResponderTypes.js` file. It doesn't have any React component in it and the types exported aren't part of the propType of any React components.

[2017-02-01 18:52] jordanpowell88 commented on #93
@luco were you able to find a solution? If so can you share your code?  One of my tabs is using a <ListView> but I want to be able to open a typical details view for each row in the ListView.

[2017-02-01 18:54] satya164 commented on #93
Just render a header outside the tab view, pass a callback to child views to change the title.

[2017-02-01 18:54] #93 closed

[2017-02-01 21:34] GollyJer opened #114 "How are you implementing the navigation bar header?"
I'm learning, so bear with me. :-)

In all your Exponent examples there is a header bar with a screen title.
But, when I go to an [example](https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/TopBarTextExample.js) I don't see how the header (the section above the tabs) is created.

I'm looking to do this as recommended and need a little help.
Thanks!

[2017-02-01 21:35] satya164 commented on #114
It's here https://github.com/react-native-community/react-native-tab-view/blob/master/example/main.js#L162

[2017-02-01 21:35] #114 closed

[2017-02-01 23:33] dguillamot opened #115 "keyboardShouldPersistTaps on TabViewPagerScroll (also @ExNav requires)"
Hi,

We are using ExNav's SlidingTabNavigation which in turn uses react-native-tab-view internally.

We need to specify the keyboardShouldPersistTaps='always' on the ScrollView inside the react-native-tab-view TabViewPagerScroll component.

This is so we can capture Taps/Touches after focusing a keyboard input field, without having to double-tap.

At the moment, having a keyboard input field insid

[2017-02-01 23:38] satya164 commented on #115
We already do this https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabViewPagerScroll.js#L134

[2017-02-01 23:38] #115 closed

[2017-02-01 23:44] satya164 commented on #115
BTW exponent uses an older version which doesn't have this change.

[2017-02-02 11:36] orenklein commented on #113
I agree it is weird that it cares about PanResponderTypes.js file.
Anyway, I did file a bug report babel-plugin-flow-react-proptypes and it's been already solved, so I'm closing this issue. Thank you!

[2017-02-02 11:36] #113 closed

[2017-02-05 09:56] fadlifebriansyah opened #116 "show view only on state 1, when i slide to state 2, nothing happen"
Hi, I really dont know why, i already set the state like this ;

state = {
    index: 0,
    routes: [
      { key: '1', title: 'Create Invoice' },
      { key: '2', title: 'Invoice List' },
    ],
	loaded: true,
  };

when I run the code, view is opening the key '1' which is Create Invoice. (Screenshot provided)
![screenshot_9](https://cloud.githubusercontent.com/assets/18573470/22625250/9a79aa86

[2017-02-05 09:57] fadlifebriansyah commented on #116
this is my render scene function

_renderScene = ({ route }) => {
	var dumb = route.key
	ToastAndroid.show("" + dumb, ToastAndroid.SHORT);
	switch (dumb) {
    case '1':
      return (
		<View style={styles.container}>
			<View style={styles.container_all}>
				<View style={{width: 365, alignItems: 'center',}}>

						<View>
							<TextInput
							  ref={component => this._textOrderNumber = comp

[2017-02-05 12:45] satya164 commented on #116
Probably you need to put `flexGrow: 1` on the container view

[2017-02-05 13:42] fadlifebriansyah commented on #116
which container view? in the key 1 or in the key 2?

[2017-02-06 11:12] jankalfus commented on #103
I think this is the mentioned issue:

![3](https://cloud.githubusercontent.com/assets/12714276/22645051/64a5be0c-ec65-11e6-9241-2bab4e25ea59.png)

As you can see, longer text makes the button expand. I think that the buttons should be of same size, regardless of text length, and the text should be centered.

Is there any way to solve this?

[2017-02-06 11:18] satya164 commented on #103
The new percentage feature in RN will fix it. you can fork the tabbar till I update

[2017-02-07 07:11] vidhyalakshmirbt commented on #103
styles of what @satya164  . can you just post a small example. i would be helpful

[2017-02-07 12:28] jankalfus commented on #103
I fixed this by changing line 436 in TabBar.js to: `tabContainerStyle.width = finalTabWidth;`
I don't think this is a correct solution (if you have more tabs than you can fit on screen, they will be too small), but it works nicely for two tabs.

[2017-02-07 17:31] satya164 commented on #103
@vidhyalakshmirbt `width` property in `tabStyle`. check the readme

@jankalfus `tabContainerStyle.width = finalTabWidth` will work fine if you have more tabs than you can fit on screen as long as you have `scrollEnabled: true`. the only problem with this approach is `finalTabWidth` is not available before we measure the layout, so there'll always be one frame delay. I'm hoping RN's new percentage

[2017-02-07 23:34] Polidoro commented on #105
If anyone else is having this problem here's my implementation of the workaround suggested by @satya164, loosely based on the ScrollViewExample code [here](https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/ScrollViewsExample.js).

`import React from 'react'
import { Platform } from 'react-native'
import { TabViewAnimated, TabViewPagerScroll, TabViewPagerPan, T

[2017-02-09 11:14] kristoforusrp commented on #104
We have problem with current tab color too, We want the background color tab is white. Is there a way to achieve this without changing the backgroundColor style of TabBar.js in the node_modules?

`tabBar: {
    backgroundColor: '#2196f3',
    elevation: 4,
    shadowColor: 'black',
    shadowOpacity: 0.1,
    shadowRadius: StyleSheet.hairlineWidth,
    shadowOffset: {
      height: StyleSheet.hair

[2017-02-09 17:55] orenklein opened #117 "IOS TabViewAnimated overflow: hidden in scene container"
When overflow is needed between tabs, such as in Coverflow example (using translateX), we see that the neighbor tab Views are clipped.

Solution: changing to overflow:visible on https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabViewAnimated.js#L100 or giving the option to set it by a prop.

Reproduce:
Run the Coverflow example on ios.

[2017-02-09 20:47] dccarmo opened #118 "Error while updating property 'transform'"
So I'm going through the process to update RN from 0.37 to 0.41, and I've run into an issue with react-native-tab-view (I'm on the latest 0.0.55):

![screen shot 2017-02-09 at 18 41 59](https://cloud.githubusercontent.com/assets/638474/22802327/86801556-eef7-11e6-89bd-10c37fb200e0.png)

Here's what we're doing:

[code]

and

[code]

The issue is happening with this line:

`<Animated.View style={[t

[2017-02-09 20:53] satya164 commented on #118
Does downgrading tabview fix the issue? Do you have a sample project I can play with?

[2017-02-09 21:05] dccarmo commented on #118
@satya164 it doesn't. I'm going to try and come up with a sample project and post here.

[2017-02-10 17:08] adremalin opened #120 "Adding elements above the ListView in tab-view"
Hi!

I am trying to add a View element above the ListView in a tab-view, but get following error message:

[code]

What is the problem here?

Thanks!

[2017-02-10 19:39] satya164 commented on #120
Can you post your code please? It's impossible to help without seeing the code.

[2017-02-10 22:52] satya164 commented on #117
Now only scroll and viewpager based pagers will hide overflow. So coverflow should work fine.

[2017-02-10 22:52] #117 closed

[2017-02-11 10:12] adremalin commented on #120
**Yes! I have the exact code from the example and just pasting in the following snippet in the example code below:**
          <View>
                 <Text style={{ color: 'white' }}>hi</Text>
                 <Button> Save </Button>
          </View>

**_renderScene method from the example code:**

_renderScene = ({ route }) => {
    switch (route.key) {
    case '1':
      return (<View style={

[2017-02-11 17:01] nabeelvalapra opened #122 "TabView inside a ScrollView."
I'm not able to see or scroll (when I try to give a fixed height at [here](https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/ScrollViewsExample.js#L124) in the [ListViewExample](https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/ListViewExample.js)) the content when using a TabView inside a ScrollView. How can I achive this

[2017-02-12 14:39] sarlv opened #123 "Error with canJumpToTab"
[code]

[2017-02-13 01:25] rauliyohmc commented on #98
Happening to me as well, with the latest version of Ex-navigation, 2.9.1. Wasn't taking place with my previous 2.5.0. Maybe worth it to port the issue there?

[2017-02-13 13:53] rohithramachandran opened #124 "react-native-tab-view with react-native-side-menu"
Hi, This is not an issue but need assistance on this ... I have a side menu from react-native-side-menu and  swipable tab from react-native-tab-view in same screen.Now i want to open up the side menu by swiping right if the swipe is starting from screen edge and switch the tabs if swipe is not from screen edge...How can i achieve this

[2017-02-13 13:55] satya164 commented on #124
I don't think it's possible yet unless you disable the swipe. Though probably we can add a prop on `TabViewPanPager` to configure to leave some space on edges.

[2017-02-14 07:52] rohithramachandran commented on #124
@satya164  Thanks man...I cant find any documentation on `TabViewPanPager`  ..Can you please provide a sample ?

[2017-02-14 09:32] satya164 commented on #124
It's there in the readme - https://github.com/react-native-community/react-native-tab-view#tabviewpagerpan-

Sample for what?

[2017-02-14 13:39] jbrodriguez commented on #122
@nabeelvalapra I guess it's happening to you on Android (not on iOS).

If that's the case, check #105 for a workaround

[2017-02-14 23:06] jephtta opened #125 "Choppy transition when tabbed pages contain long lists"
Out of a 5 tab layout, 2 of the tabbed pages contain a listview. When the list grows really long, transitions when swiping or switching between tabs become really unresponsive. Scrolling through the listview itself works fluidly as expected.

[2017-02-15 05:25] rohithramachandran commented on #124
Sample for leaving some space on edges ??

[2017-02-15 11:53] keerthanarbt opened #126 "Restrict the tab Click when the process is incomplete in the initial tab"
Hi,
I am having a API call in TabView.. until and unless data loaded from API in first tab i should not allow the user to click or swipe to the consecutive tabs..
But i android it allows the user to click the next tab and it crashes when the data is not completely loaded..
Please help us with same

[2017-02-15 12:38] satya164 commented on #126
You can use `canJumpToTab` to disable a tab. https://github.com/react-native-community/react-native-tab-view#tabviewanimated-

Though you should show a spinner when data is being loaded. It's better than preventing to go to the tab.

[2017-02-15 12:39] #126 closed

[2017-02-15 16:07] jbrodriguez opened #127 "Incorrect positioning of indicator when scrollEnabled and scrolled"
When you scroll the tabbar, the indicator positioning becomes erratical.

This is with a
[code]

RN: 0.41.2
react-native-tab-view: 0.0.55

Scrolling the items, then hitting the edge items works fine, but when you press an item in the middle, the repositioning of the indicator is all over the place.

It's best to describe it with a video

![tabview](https://cloud.githubusercontent.com/assets/130542

[2017-02-15 16:40] j-rul opened #128 "Is it possible to create a transparent tabbar?"
I'm using the code here as an example: https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/TopBarIconExample.js, except I'm creating a bottom tab bar instead. I have tried setting a transparent background color on both the Tabbar component, and TabViewAnimated component. Solid colors work, but the tabbar still has a solid white background when I set to transpare

[2017-02-15 16:47] j-rul opened #129 "Use different colors for active and inactive tabs."
I noticed the current implementation is to use a slightly toned down version of the active tab's color for the inactive tab. I'm using icons only for the tabs. Can I specify two entirely different colors for active and inactive tabs on my own? Thank you.

[2017-02-15 18:14] jephtta commented on #129
This is possible. There might be a better way, but this is how i would do it. Use numbers starting from 0 as keys for your routes.
e.g. `    state = {
        index: 0,
        routes: [
            { key: '0', icon: 'md-sd' },
            { key: '1', icon: 'md-gladfobe' },
            { key: '2', icon: 'md-create' },
        ],
    };`

Then your rendericon() could be something like this:
`    re

[2017-02-15 20:27] jordanfloyd commented on #129
`renderLabel = (scene: Scene) => {
    const label = scene.route.title
    return <Text style={{ color: scene.index == this.state.index ?  'red' : 'black' }} >{label}</Text>
  }

  renderHeader = (props) => (<TabBar {...props} style={styles.tabBar} indicatorStyle={styles.indicator} renderLabel={this.renderLabel}/>)`

This works, but there is a slight delay in the color change. Probably because we

[2017-02-15 21:19] j-rul commented on #129
Thanks guys. Both approaches (suggested by @jephtta  and @jordanfloyd ) work. However, like @jordanfloyd  said, there is an obvious delay in color change. Also the color change is not animated. Is there anyway around these? Been looking through the source code and the docs. Cant seem to find anything.

[2017-02-15 21:28] jordanfloyd commented on #129
@j-rul there is actually a slightly simpler solution:
`color: scene.focused ?  'red' : 'black' `
instead of:
`color: scene.index == this.state.index ?  'red' : 'black'`
looks like the delay is slightly less, but still there. At least this way we don't have to wait for the local state to update.

[2017-02-15 21:54] jordanfloyd commented on #103
@vidhyalakshmirbt this should work:
    const {width} = Dimensions.get('window');
   const numberOfTabs = 2;
    renderHeader = (props) => (<TabBar {...props} tabStyle={{width: width/numberOfTabs}}/>);

[2017-02-15 22:25] j-rul commented on #129
@jordanfloyd I'm using icons and not text labels, my code is therefore very similar to what was posted by @jephtta. Is _scene_ passed to the _renderIcon_ function as well? If it is the I can use what you suggest instead.

[2017-02-15 23:04] satya164 commented on #129
Have you guys looked at the examples?

[2017-02-15 23:07] j-rul commented on #129
if there is an example that covers my use case, kindly point me in the right direction. Thank you.

[2017-02-15 23:14] spezzino opened #130 "Tutorial on adding tabs dynamically"
Is there a way to load tabs dynamically?
For example, I call a service and then populate the routes array with every tab I want to show.

[2017-02-16 08:28] satya164 commented on #129
Everything is under the example folder, but here you go https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/ScrollViewsExample.js#L79

[2017-02-16 08:28] #129 closed

[2017-02-16 08:31] satya164 commented on #130
@spezzino I've never tried that, but it should be possible by just updating the `routes` array in the state. if it doesn't work properly happy to investigate why and fix it. though what I had done in a previous app was just show a loading spinner without the tabview and then when I get the list, show the tabview with the new set of tabs.

[2017-02-16 08:32] satya164 commented on #128
Have you tried setting the `position: 'absolute'` in `tabStyle`? It should work.

[2017-02-16 08:38] satya164 commented on #129
@jordanfloyd

You don't need to override render to disable all caps text. You can just do `getLabelText={({ route }) => route.title}` where you can uppercase, lowercase, title case, any other transformation you like, or none at all.

[2017-02-16 08:43] satya164 commented on #129
@jordanfloyd

The main issue regarding ability provide colors is that it won't work well with icons. and I usually avoid extending the API surface area too much. There are potential solutions, like the approach I took in `react-navigation`.

Honestly, with official navigation libraries like `react-navigation`, I don't have enough motivation to provide more props. `react-navigation` already provide

[2017-02-16 12:06] spezzino commented on #130
It worked.

In case anyone needs an example, I'll do a PR in a moment to your `example` project

[2017-02-16 12:34] satya164 commented on #130
@spezzino sounds good

[2017-02-16 14:11] adremalin commented on #120
Hey @satya164, you found and answer for this? :)

[2017-02-16 14:41] j-rul commented on #128
Thanks man.
Using these styles

      position: 'absolute',
      bottom: 0,
      left: 0,
      right: 0,
It works!!

[2017-02-16 14:41] #128 closed

[2017-02-16 14:48] j-rul commented on #129
@satya164

Thanks for the link. I have actually seen this example. My confusion is that this seems to refer to text labels. My implementation is an icon only tabbar. Can I pass an animated component similar to that in the example to the renderIcon() function? If its possible, a few pointers as to the implementation will be very much appreciated.
Thanks once again.

[2017-02-16 15:39] jephtta commented on #129
take a look at this example. Should work for your case.
https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/NoAnimationExample.js

[2017-02-16 16:58] satya164 commented on #129
Note that the linked example uses a cross-fading animation because I use two different icons for active and non-active states. If you use the same icon you can just use an animated icon like in `renderLabel`

[2017-02-16 23:40] #123 closed

[2017-02-17 00:16] satya164 commented on #127
Should be fixed by https://github.com/react-native-community/react-native-tab-view/commit/9eae4cc00ffec888a03cae6c18131f908e1f3595

[2017-02-17 00:16] #127 closed

[2017-02-17 00:17] satya164 commented on #104
@kristoforusrp you can just pass a `style` prop to tab bar.

[2017-02-17 00:17] #104 closed

[2017-02-17 00:17] #91 closed

[2017-02-17 10:01] greenais opened #132 "Get rid of TabBar top margin"
Hi,

it seems that I tried all possible options, just can't remove the margin space on top of TabBar icons (marked with red):
![margin](https://cloud.githubusercontent.com/assets/16271522/23060889/b4c2ab76-f510-11e6-9d15-ae4bbbec4e2e.png)

My code is:
[code]
<Tab...Icon /> is pure component containing no margins.

What else to consider?

[2017-02-17 10:20] keerthanarbt opened #133 "Android APP Crashes"
Hi,
when the data is loading from API in one tab which is in progress mean while the user trying swiping on to the next tab crashes the app..when the data is not completely loaded from the API.
How to enable the swipe only when the data is completely loaded in one tab and make the user to swipe to the consecutive tabs.please help us

[2017-02-17 11:15] j-rul commented on #129
Thanks @jephtta  and @satya164, got it working. Sorry for not paying better attention to the examples. Thanks once again.

[2017-02-17 13:50] satya164 commented on #133
Do you have a stack trace for the crash report? I can't think of a reason this will happen.

You can do `swipeEnabled={false}` when you don't want to enable swipe. Check the README.

[2017-02-20 13:03] jesouhaite08 opened #134 "Add padding to TabBar indicatorContainer"
I'd like to add padding to the indicatorContainer, in order to get the following look:

<img width="400" alt="screen shot 2017-02-20 at 8 00 45 am" src="https://cloud.githubusercontent.com/assets/7729839/23126044/eb87a5c4-f742-11e6-82c0-dba6768e9cbd.png">

Is this possible? I don't see any props on the TabBar indicatorContainer, and it is currently positioned absolute to the bottom.

[2017-02-20 16:45] jbrodriguez opened #135 "License ?"
Hi @satya164, what's the license for this library ?

I'm assuming MIT, please advise otherwise.

[2017-02-20 22:00] grundmanise opened #136 "Will it handle 300+ slides without a lag in a Coverflow "style""
Hi, thanks for such a great component 👍

I saw your blog post on medium and there was [this image](https://cdn-images-1.medium.com/max/600/1*F3nHDERcZyMPLD_fVV7PaQ.gif). This is just what I need 😃
I am wondering will it handle 300+ slides without a lag? I saw your "Optimize large number of routes" part in Readme will it be sufficient for this task?

Thanks!

[2017-02-20 22:02] satya164 commented on #136
It always depends on how complex your slides are. You can try it and let me know.

[2017-02-21 13:24] moerabaya opened #137 "Fix the difference in height from a tab to another"
The height stays the same as the longest tab view, it's not updated when switching from one to another.

Thank you.

[2017-02-21 15:01] nabeelvalapra commented on #122
@jbrodriguez Yea, the workaround worked. But any Idea on how to make`<TabBar>` content of `<TopBarTextExample>` static(floating).

[2017-02-21 15:54] jbrodriguez commented on #122
@nabeelvalapra not really, I think I saw a similar question in one of the issues.

Check there or open another issue :)

[2017-02-21 17:24] Weakky opened #138 "Prevent TabViewAnimated from being scrolled ?"
Hello,

I have two views i'm trying to put in a TabView. The issue is that one of the two view already has a horizontal scrollview. It therefore conflicts with the scroll of the TabView.

Is there any way of disabling the ability to change views by scrolling, forcing the user to tap on the tabs ?

[2017-02-21 17:40] Weakky commented on #138
Fixed with renderPager props. My bad.

[2017-02-21 17:40] #138 closed

[2017-02-21 22:59] satya164 commented on #122
It's just a React component. Figure out what you'd need to do if you wrote such a component and do the same thing.

[2017-02-21 22:59] #122 closed

[2017-02-22 09:18] rahulmishra-goibibo opened #139 "Indicator width not rendered properly when the number of tabs are more"
<img width="374" alt="screen shot 2017-02-22 at 2 41 22 pm" src="https://cloud.githubusercontent.com/assets/20772089/23204626/5857f930-f90d-11e6-94eb-3d83e9eb8282.png">

Hi

Thanks for the great view. However i ran into an issue when i had to increase to my tab count to 5. When the tab count is till say 3, the indicator(underline below the tab's text) works fine. But when the number of tabs are in

[2017-02-22 09:20] satya164 commented on #139
Do you have `scrollEnabled` on tab bar? And have you set `width` in `tabStyle`?

[2017-02-22 09:29] HoangTrung opened #140 "Remove TabBar label auto uppercase text"

[2017-02-22 09:33] rahulmishra-goibibo commented on #139
oops my mistake. Missed the scrollenabled on the tab bar. Thanks for your quick reply

[2017-02-22 09:58] satya164 commented on #140
pass `getLabelText={({ route }) => route.title}` to tab bar

[2017-02-22 09:58] #140 closed

[2017-02-22 10:08] #139 closed

[2017-02-22 14:27] moerabaya opened #142 "Animated Views don't work properly when using the library RN 0.40"
I'm suffering from frames drops when using any type of animated views with this library, very slow animations and glitches.

Thank you.

[2017-02-22 14:30] satya164 commented on #142
I don't see how this library can cause any glitches or slow animations.

[2017-02-22 14:30] #142 closed

[2017-02-23 15:42] sarlv opened #143 "Vertical scroll"
Hi there
Is it possible to enable vertical scroll? I use default settings, so when I try to scroll page (vertically) it bounced back. Can I disable this affect?

[code]

Thanks

[2017-02-24 09:00] keerthanarbt opened #147 "How to jump to the Third tab without loading second tab"
Hi,
  We are trying to click third tab but its loading the second tab (which has API call)and moving to the third tab.
I want to move directly to corresponding tab which i clicked without loading other page..

[2017-02-24 15:45] navratill opened #148 "Interactive TopBar"
Hi,

is there way to create something like this?

https://www.androidpolice.com/wp-content/uploads/2016/06/nexus2cee_Modern_Android.gif

It is default behaviour of swipable bars in Android. Thanks

[2017-02-24 15:48] HoangTrung commented on #107
I run into the same problem. Please help.

[2017-02-26 19:39] csacanam opened #149 "How to change accent, primary an primaryDark color in the tabs?"

[2017-02-27 18:56] #143 closed

[2017-02-28 15:04] moerabaya commented on #142
@satya164 This shouldn't be closed, it's not solved yet. the library suffers from lack of performance and high ram usage!!!

[2017-02-28 22:06] sir-gon opened #150 "Jest validation not passing / TypeError: _this._scrollView.scrollTo is not a function"
I'm implementing the basic example in a new fresh RN 0.41.2 app.
Before integration, all jest test are passing ok, but now I'm getting this error:

[code]

I have translated the example from Readme.md to NOT use arrow functions, because I want avoid to use "not default" presets of babel or react-native.

My example is HomePage.js:
[code]

I'm not sure how to fix te library, can't you help me?

[2017-03-01 12:46] satya164 commented on #150
Please file a bug with React Native. This is an issue with the react native preset that it doesn't have a `scrollTo` method.

[2017-03-01 12:46] #150 closed

[2017-03-01 23:02] smart-mickey commented on #147
You can initate index of navigationstate in constructor function like below:
this.state = {
            navigationState: {
              index:  2,
              routes: [
                { key: '0', title: 'screen0' },
                { key: '1', title: 'screen1' },
                { key: '2', title: 'screen2 },
                ...
              ],
            },
            ...
        };

[2017-03-02 07:27] sun2rise commented on #80
I'm sorry @satya164 what do you mean exactly for `PureComponent` it has to be stateless?

[2017-03-03 07:10] Kudo opened #151 "Customize or extend Route type in TabViewTypeDefinitions"
Hi,
react-native-tab-view is well written with flow internally.
However, it is not easy for react-native-tab-view's user to leverage with flow.

My use case is to fill more information to route.
Such as adding icon definitions
[code]
The code is pretty much like the one in https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/TopBarIconExample.js#L36-L39

Here are

[2017-03-03 07:27] aravindhrbt commented on #147
Hi @smart-mickey ,

 I also need assistance in this situation,
my case is i have
[code]

and each page have api call to get data in componentDidMount()

so by default i will land on page 1 and get data for the respective page
i also included

so that the page loads when requested( got help from this [#96](https://github.com/react-native-community/react-native-tab-view/issues/96)),

**my question i

[2017-03-03 12:13] flaviotobi opened #152 "[Help] Change Background Color From Active and Inactive Tab Bar"
I think the question is pretty clear, when i _renderHeader to create the tabBar i want to have different background color for inactive and Active tab.

Maybe i didn't read some exemple or question, but this is what i'm trying to accomplish.

![mar-03-2017 12-11-52](https://cloud.githubusercontent.com/assets/13239857/23550779/a7263a50-000a-11e7-8e2a-ca181e830fb9.gif)

Thanks in advance :)

[2017-03-03 12:15] satya164 commented on #152
Check this example https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/ScrollViewsExample.js#L79

Though you'd need to use `backgroundColor` instead of `color` which is used there.

[2017-03-03 12:15] #152 closed

[2017-03-03 16:52] mofc3t15 opened #153 "how to change tab bar colour"

[2017-03-04 05:14] CecilLee opened #154 "renderScene is ListView, listview cant render more data"
renderScene inside is ListView,  the onEndReached load more data cant re render the listview

[code]

[2017-03-04 07:09] cbjs commented on #147
i don't know if it's the best solution,

render nothing while index of route is not same with state.index.
[code]

still has some problems here. while switching tabs, blank page flashed even when page is loaded.
so i write a PageWrapper

[code]

hope it helps.

[2017-03-04 07:21] cbjs opened #155 "tab width of TabBar must be fixed, while scrollEnabled?"
i can't find way to change tab width to be 'auto'

[2017-03-04 10:45] aravindhrbt commented on #147
Thanks alot @cbjs  💯  👍

This work around gave solution for my scenario..thanks again..

[2017-03-06 03:15] CecilLee opened #156 "renderScene returns a ListView, onEndReached and refreshControl is failure."
RenderScene returns a ListView, ListView dataSource updated, but ListView will not render new dataSource

onEndReached  and refreshControl is failure.

Is I forgot what configuration?

thank you

[2017-03-06 04:54] CecilLee commented on #156
已经解决了，是我的问题，没注意 purecomponent

[2017-03-06 04:54] #156 closed

[2017-03-06 04:54] CecilLee commented on #154
已经解决了，是我的问题，没注意 purecomponent

[2017-03-06 04:54] #154 closed

[2017-03-06 09:07] baolamsentifi opened #157 "Tabbar width automatically fix the title inside?"
Hi, i'm looking for a feature that the Tabbar items width will be fixed text inside. I see there is an prop named 'tabWidth'. But seem it not working. Thank for you response.

[2017-03-06 09:08] baolamsentifi commented on #155
same here. Someone have any solution?

[2017-03-06 09:10] baolamsentifi opened #158 "Jump to tab with index programmatically?"
Hi, I can't find how to jump to specific tab (with tabIndex) programmatically. Please help. Thank you very much.

[2017-03-06 09:59] agrcrobles opened #159 "will web platform be added?"
Hey,

I think that there is no much to add in order for the web platform to be added, but styles and strip flow off on prepublish.

will you consider adding it or accept PRs?

[2017-03-06 15:39] satya164 commented on #158
`this.setState({ index: 2 })`

[2017-03-06 15:39] #158 closed

[2017-03-06 15:39] satya164 commented on #155
It's not possible.

[2017-03-06 15:39] #155 closed

[2017-03-06 15:39] satya164 commented on #157
Pass `tabStyle={{ width: 80 }}`

[2017-03-06 15:39] #157 closed

[2017-03-06 15:40] satya164 commented on #159
Surprised it works on the web without modification. Have you tried it? Do you have a demo?

[2017-03-06 16:38] br4nnigan opened #160 "First tab is mounted twice"
it's mounted twice, but gets unmounted immediately. You can easily reproduce.

tested with
version 0.0.56 + react-native 0.39.2 and 0.40.0, iOS simulator

[2017-03-06 16:44] agrcrobles commented on #159
yes! that is awesome.
The pager that works fine is `TabViewPagerPan`.

![ehlef8](https://cloud.githubusercontent.com/assets/5727373/23618884/2659baa2-0292-11e7-9c1e-e14ff9f5e10f.gif)
![j5y6yj](https://cloud.githubusercontent.com/assets/5727373/23618889/2a3d03fe-0292-11e7-8566-d9addbade16a.gif)

Probably it is better to have a repo to test it but in the meantime here goes some comments.

Scroll sty

[2017-03-07 00:48] dondragon2 commented on #160
same issue here

[2017-03-07 02:58] baolamsentifi commented on #157
Hi @satya164. Could we set width for every single tab?

[2017-03-07 05:29] #147 closed

[2017-03-07 14:06] satya164 commented on #159
That's exciting! Let's add a prepublish script for web as the first step. Regarding `overflow`, it didn't work without `scroll` in native apps, so we'll need to check that.

[2017-03-07 15:24] agrcrobles commented on #159
yes it is!
I have just created https://github.com/agrcrobles/react-native-tab-view-web and moved some examples there.
There is need to include node_modules folder in [webpack.config](https://github.com/agrcrobles/react-native-tab-view-web/blob/master/webpack.config.js#L26)

[2017-03-07 17:26] Cmdv commented on #153
@mofc3t15
[code]

[2017-03-08 10:08] Cmdv opened #161 "Removing scrollEnable in TabBar causes issue"
The issue I have is I wanted to make the TabBar labels be a little smaller in width so I could fit more than 3 on screen.

When I leave with presets it all works fine:
![working tabbar](https://cloud.githubusercontent.com/assets/3036557/23699229/477277a6-03e6-11e7-959c-3f0193a30460.gif)

but as soon as I remove `scrollEnabled` from TabBar` then the label widths are great but I get this weird issue

[2017-03-08 12:09] musicode opened #162 "How to prevent change tab by gesture when using TabViewAnimated"

[2017-03-09 10:47] yinoneliraz opened #164 "Using a custom top toolbar only shows toolbar"
When using my own toolbar in renderHeader function, the result is only the toolbar without the tabs.
Height does not affect it.
[code]
Where TopToolbar is my component.

[2017-03-09 18:40] brunolemos commented on #159
@satya164 it would be better if this packaged generated a `dist/` folder ES5 compilent, so we dont have to `eject` from `create-react-app` to edit webpack config or use a fork.

[2017-03-09 20:21] iremlopsum opened #165 "focused state doesn't change"
I'm rendering my scenes in a dedicated component for it and I want to know which tab is currently in view, but the focused state always stays the same and does not get update while navigating between tabs.

And to add to that, how to pass on props to the scene without rerendering the scenes?

Current code

[code]

And want to do something like

[code]

Any solution for this?

[2017-03-10 06:29] satya164 commented on #159
Yeah, please send a PR adding the script and I'll review.

[2017-03-10 12:11] #160 closed

[2017-03-10 14:43] dondragon2 commented on #160
@satya164 I have upgrade to version 0.0.57 but I am still getting the issue where `componentWillMount` and `componentWillReceiveProps` for the first tab is called multiple times. This tells me that the component is being called many times.

[code]

[2017-03-10 14:50] satya164 commented on #160
Can you post code?

[2017-03-10 15:02] dondragon2 commented on #160
I have uploaded the Gist files below.
[gist](https://gist.github.com/dondragon2/796ea8dab90045e5d5f2253b7e759859)

[2017-03-10 15:12] satya164 commented on #160
You are using `react-navigation`. Did you update the `react-native-tab-view` dependency manually?

[2017-03-10 15:13] dondragon2 commented on #160
yes

[code]

[2017-03-10 15:18] satya164 commented on #160
This doesn't ensure that `react-navigation` will use the new version. Can you verify that there's no other copy of `react-native-tab-view` under your `node_modules`?

[2017-03-10 15:26] dondragon2 commented on #160
it seems `react-navigation` has an older version in its `node_modules`

[2017-03-10 15:33] satya164 commented on #160
@dondragon2 you can try replacing the folder until my PR gets merged.

[2017-03-10 15:34] dondragon2 commented on #160
thanks. I did that and it seem to have worked.

[2017-03-10 16:38] joshfriend commented on #135
`package.json` does specify MIT. However, it would be a good idea to specify the license more explicitly as the automatic license granted by agreeing to the GitHub ToS basically only allows you to view the code, not do anything useful with it:

 https://help.github.com/articles/github-terms-of-service/#5-license-grant-to-other-users

[2017-03-10 17:06] jbrodriguez commented on #135
Thanks @joshfriend, I hadn't noticed the package.json license bit.

[2017-03-11 08:43] musicode opened #168 "onRequestChangeTab is not called when tabIndex is 0"
[code]

when tab view inited, onRequestChangeTab is not called.

when tab index change from 0 to other, onRequestChangeTab is called.

when tab index change from other to 0, onRequestChangeTab is not called.

how can I get the current tab index?

[2017-03-11 08:58] musicode commented on #168
need to call `setState` after onRequestChangeTab.

[2017-03-11 08:58] #168 closed

[2017-03-12 15:59] aracchi opened #169 "how to get text on "navigation bar" and back arrow?"
Hi, I noticed you have the 'Text only Top Bar' and a back arrow in your demo gif. May I know how to get it? Do I merge it with NavigationBar or can you point me to the right direction? I am lost.

[2017-03-14 16:01] jsartisan opened #170 "TabBar styling is broken. Need fix."
![issue](https://cloud.githubusercontent.com/assets/6636360/23909686/6bdf4fda-08fd-11e7-8bc1-e3f698a61600.gif)

Don't why this great plugin does have a good documentation on how to style the TabBar component.

[2017-03-14 16:04] jsartisan commented on #170
![user profile](https://cloud.githubusercontent.com/assets/6636360/23909820/c44229d6-08fd-11e7-96fd-660335efe037.jpg)

This is what i really wanted . Any idea how to achieve it ?

Don't know how to style bottom border. It just disappear after animating. Any fix for this ?

[2017-03-14 16:05] jsartisan commented on #170
@satya164 Any fix sir for this ? or any idea how do i achieve the desired styling  with your package ?

[2017-03-15 06:30] danieljodeci commented on #107
I'm having the same issue.

[2017-03-16 06:08] jasan-s opened #171 "Using List View within tab view. (question)"
Is there an example of using List view within this component? I wanted to render few hundred list items with avatars on each of the multiple tabs.  I am just starting out and looked at [react-native-scrollable-tab-view ](https://github.com/skv-headless/react-native-scrollable-tab-view) but it seems with the new verision of react-native 0.42 there is a significant lag at this moment.  So In my sear

[2017-03-16 06:54] satya164 commented on #171
You can use any type of view. Nothing specific with listview, though you might have to do `removeClippedSubviews={false}` due to an RN bug.

[2017-03-16 06:54] #171 closed

[2017-03-16 07:23] jasan-s commented on #171
@satya164  i thought keeping removeClippedSubviews value to true improved performance. Why would in this case you would recommend.

[2017-03-16 07:49] satya164 commented on #171
I don't recommend it, but sometimes you'll face this bug https://github.com/facebook/react-native/issues/1831 and there's no other choice.

[2017-03-16 11:45] jshumakerpruitt opened #172 "Only renders the initial tab (android only)"
On android only the initial tab is visible.  By changing `state.index` in the constructor I can make any of my three scenes visible, but when I change tabs, I only get a blank screen.  Works perfectly on iOS.

[code]

[2017-03-16 14:56] maxschmeling commented on #172
I just recently started having this same issue. Not sure what has changed. (Using through ex-navigation)

[2017-03-16 19:57] you-fail-me opened #173 "How to configure tabs slide transition?"
When I set new index to state of tabview (i.e. switch tabs programatically, from a button click) tabs switch too fast for me, I'd like to have a slower transition. Docs say there's `configureTransition` callback, but don't say how should it be written and how does that 'transition configuration' that it should return should look like. Could you please, pour some light on it and update the docs?

[2017-03-18 15:47] Randy808 commented on #59
I think he was referring to the fact that you don't have a swipeEnabled option for TabViewAnimated, which you don't. The link you referred to is TabViewPagerPan which wouldn't be used for the same tasks as TabViewAnimated.

[2017-03-18 22:39] satya164 commented on #59
How does having the option on TabViewAnimated make a difference?

[2017-03-19 07:08] HoangTrung commented on #107
Anyone knows how to fix it. I've been waiting for a solution for a long time. Please help.
Did you solve it ? @nickrobinson352 @danieljodeci

[2017-03-19 11:05] CharlesMangwa commented on #173
Hi! You can use `configureTransition` as following:
[code]
If it can help you out, you also have[ `TransitionConfigurator`'s type with Flow](https://github.com/react-native-community/react-native-tab-view/blob/272cc3a555e665916024cc97ded5f80e5b567485/src/TabViewTransitionerTypes.js) and you can check out how the callback is used under the hood [right here](https://github.com/react-native-community

[2017-03-19 11:05] #173 closed

[2017-03-19 11:16] CharlesMangwa commented on #170
Hi @jankalfus! It's a little bit difficult to help you out without seeing your code 😅

However, you have [this `TopBarTextExample` example in the doc](https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/TopBarTextExample.js) that achieve the same goal than what I see in your image. You can see the result [here with Expo](exp.host/@rncommunity/react-native-tab-vi

[2017-03-19 11:29] CharlesMangwa commented on #169
Hi @aracchi! Here is the [`TopBarTextExample` example code](https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/TopBarTextExample.js), that you can try [directly on your phone with Expo](https://expo.io/@rncommunity/react-native-tab-view-demos)., it's the `Text only top bar` example. I hope it will help you understand how to solve you problem!
Regarding the back

[2017-03-19 11:29] #169 closed

[2017-03-19 11:30] CharlesMangwa commented on #170
Closed #170

[2017-03-19 11:30] #170 closed

[2017-03-19 11:33] CharlesMangwa commented on #153
Thanks @Cmdv!

[2017-03-19 11:33] CharlesMangwa commented on #153
Closed #153.

[2017-03-19 11:33] #153 closed

[2017-03-19 11:34] CharlesMangwa commented on #149
You can find a working example [here](https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/TopBarTextExample.js) and try it live right [there](https://expo.io/@rncommunity/react-native-tab-view-demos) :)

[2017-03-19 11:34] CharlesMangwa commented on #149
Closed #149.

[2017-03-19 11:34] #149 closed

[2017-03-19 11:35] CharlesMangwa commented on #137
Hi @moerabaya! Can you provide any visual example please :) ?

[2017-03-19 11:37] CharlesMangwa commented on #135
Thanks @joshfriend!

[2017-03-19 11:37] CharlesMangwa commented on #135
Closed #135.

[2017-03-19 11:37] #135 closed

[2017-03-19 11:41] CharlesMangwa commented on #130
Problem seems to have been solved here, closing 👍

[2017-03-19 11:41] #130 closed

[2017-03-19 11:43] CharlesMangwa commented on #103
Closed #103

[2017-03-19 11:43] #103 closed

[2017-03-19 11:45] satya164 commented on #137
This is a non-goal for this project. If you need this in your app, you can add `onLayout` to your scene and animate the height when active route changes.

[2017-03-19 11:45] #137 closed

[2017-03-19 11:50] CharlesMangwa commented on #164
HI @yinoneliraz! Can you provide a visual example of your issue please :) ?

[2017-03-19 11:57] CharlesMangwa commented on #132
Hi @greenais! Have you tried to use React Native Inspector tool, to track down which element does create this margin?

[2017-03-19 13:31] karanjthakkar commented on #172
Hey @jshumakerpruitt, I created a bare minimum example on Sketch based on the example provided by you: https://sketch.expo.io/r1xkUZnsg

Have tested this on Android 4.4.4 on a Nexus 7 and on 6.0.0 on a Nexus 5. I'm unable to reproduce this issue. If you can provide any more details for us to help fix this issue for you, that would be great.

You can also change the code on the Sketch link and give

[2017-03-19 16:31] CharlesMangwa commented on #162
Hi @musicode! This use case is explained into [NoAnimationExample.js](https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/NoAnimationExample.js). You can [see the result directly on your phone](https://expo.io/@rncommunity/react-native-tab-view-demos).

[2017-03-19 16:32] CharlesMangwa commented on #162
Closing #162.

[2017-03-19 16:32] #162 closed

[2017-03-19 16:58] CharlesMangwa commented on #151
Hi @Kudo! About your state typing, you can directly use something like:

[code]

How do use your type btw? It sounds like you have something going wrong with the props you passed to `TabViewAnimated`

[2017-03-19 17:09] CharlesMangwa commented on #148
Hi @navratill! Yes it's possible! Considering that `< TabViewAnimated  />`'s `renderHeader` prop use by default `<TabBar />` which accepts a style prop: you can use the Animated library to decrease the bar height on scroll for instance.

Long story short: if you want this in your app, you just have to get your hands dirty with some animations :)

[2017-03-19 17:09] CharlesMangwa commented on #148
Closed #148.

[2017-03-19 17:09] #148 closed

[2017-03-19 17:10] CharlesMangwa commented on #136
Closed #136.

[2017-03-19 17:10] #136 closed

[2017-03-19 17:10] CharlesMangwa commented on #125
Hi @jephtta! Can you add a visual example of your issue please?

[2017-03-19 17:35] CharlesMangwa commented on #134
Hi @jesouhaite08! This is possible, you just have to pass your style (`bottom: 5` for instance) to `<TabBar />` through the `indicatorStyle` prop. I created a simple example on Sketch if it may help: https://sketch.expo.io/rk-X-B3ie.

[2017-03-19 17:35] CharlesMangwa commented on #134
Closed #134.

[2017-03-19 17:35] #134 closed

[2017-03-19 17:51] CharlesMangwa commented on #112
Hi @Vadorequest! I've tried to reproduce your bug without any success :/ … If you're running the packager directly on your computer: did you make sure that you've enable Hot Reloading in the simulator?

Otherwise, if you're working with Expo, I created a little example on Sketch based on your example: https://sketch.expo.io/H1HB4B3oe. You can change the code and send back the updated link if you'r

[2017-03-19 17:56] CharlesMangwa commented on #124
Hi @rohithramachandran! <TabViewPagerPan /> is just a "simple" view, which means that you can add a simple prop to use any style you'd like, right here: https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabViewPagerPan.js#L166.

[2017-03-19 17:56] CharlesMangwa commented on #124
Closed #124.

[2017-03-19 17:56] #124 closed

[2017-03-19 17:58] CharlesMangwa commented on #87
@satya164 This issue seems to have been solved?

[2017-03-19 18:01] CharlesMangwa commented on #83
I'm pretty sure this will be solved when we'll merge this branch https://github.com/react-native-community/react-native-tab-view/tree/native-animation 😏…

[2017-03-19 18:06] CharlesMangwa commented on #98
This issue seems to have been solved with `react-navigation` [here](https://github.com/exponent/ex-navigation/issues/415#issuecomment-283412054), given that Expo is migrating to it.

[2017-03-19 18:06] CharlesMangwa commented on #98
Closed #98.

[2017-03-19 18:06] #98 closed

[2017-03-19 18:11] CharlesMangwa commented on #107
Hi @nickrobinson352 @HoangTrung @danieljodeci! Can you provide a visual example of this issue please?
If I'm not mistaken, it seems a lot like what we have in [`ScrollViewsExample `](https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/ScrollViewsExample.js). You can have a look at it [right here](https://expo.io/@rncommunity/react-native-tab-view-demos) (the `Sc

[2017-03-19 18:22] satya164 commented on #151
Flow is a bit tricky and I don't have a solution yet. I'll try to come up with something when I get some time.

[2017-03-19 18:22] satya164 commented on #87
I'm not sure. Need to test.

[2017-03-19 18:30] CharlesMangwa commented on #116
Hi @fadlifebriansyah! Thanks for the full code! I created an example on Sketch based on it and tried to reproduce your bug without success: https://sketch.expo.io/SJDmTH2sx.
You can edit this code and send us the new link if you are able to reproduce the bug!

[2017-03-19 18:32] CharlesMangwa commented on #87
My bad, it does scroll indeed: https://sketch.expo.io/ByHoRr2ol.

[2017-03-19 18:48] CharlesMangwa commented on #120
Hi @adremalin! Here is a working example based on the code you've provided: https://sketch.expo.io/HkM8MIhix.

[2017-03-19 18:48] CharlesMangwa commented on #120
Closed #120.

[2017-03-19 18:48] #120 closed

[2017-03-19 18:52] CharlesMangwa commented on #161
Hi @Cmdv! Did you try to add a `width` that takes the whole screen in `styles.content`?

[2017-03-19 20:31] Cmdv commented on #161
@CharlesMangwa I managed to fix it but I can't recall how!! should of really commented on here incase someone else had the same issue but I no longer have access to the code base as the project has ended 😞

[2017-03-19 20:32] #161 closed

[2017-03-19 21:49] greenais commented on #132
@CharlesMangwa no, I haven't.
Just sorted this out by editing TabBar source code to meet my needs - it was quite obvious. Probably there should be some API options to set margins

[2017-03-19 21:51] CharlesMangwa commented on #132
Glad you've found a solution!

[2017-03-19 21:51] CharlesMangwa commented on #132
Closing issue #132.

[2017-03-19 21:51] #132 closed

[2017-03-20 01:50] jshumakerpruitt commented on #172
@karanjthakkar Could it be due to `react-native` version?  I do get a yellow box error on the iOS simulator about `keyboardShouldPersistTaps` wanting a boolean value but being given a string(enum).  I'm using 0.39.x.  I'll try downgrading the version of this package.

[2017-03-20 04:03] HoangTrung commented on #107
Hi @CharlesMangwa,
Thanks for answering.
This is my problem. Please take a look on the following video
https://monosnap.com/file/dSbekn2Hfzohv0FxHPMo9t7T2bX8ej

[2017-03-20 07:12] CharlesMangwa commented on #107
Thanks @HoangTrung, it's more clear now. However we can't help you without seeing your code… You can try to reproduce your bug on [Sketch](https://expo.sketch.io) and send us the link, so that we can work from that base.

[2017-03-20 09:18] satya164 commented on #107
In most all cases resizing the whole tab view based on active tab is not desirable. For example, if you have a bottom tab bar or any content below the tab view it'll jump if tab view resizes.

The approach you're taking to achieve the header scroll effect is not how you should do it. Placing the whole tab view in a scrollview means any listview inside it won't be able to optimize the rows and all

[2017-03-20 09:18] #107 closed

[2017-03-20 09:40] wulucxy commented on #107
I run into the same problem. Please help.

[2017-03-20 23:18] CharlesMangwa commented on #133
Closed #133.

[2017-03-20 23:18] #133 closed

[2017-03-20 23:20] CharlesMangwa commented on #159
Closing for now, could be re-opened when another PR will be submitted.

[2017-03-20 23:20] CharlesMangwa commented on #159
Closed #159.

[2017-03-20 23:20] #159 closed

[2017-03-20 23:30] CharlesMangwa commented on #165
Hi @iremlopsum! You can use `onRequestChangeTab` prop to detect the current tab. About your second question: you can handle this with React's `shouldComponentUpdate()` for instance.

[2017-03-21 03:11] HoangTrung commented on #107
Thank @satya164,
The article's very useful for me.
It's a bit extra work to do, but worth it << Absolutely agree.
@wulucxy, you can try.
https://medium.com/appandflow/react-native-scrollview-animated-header-10a18cb9469e#.9oyv0tx0y

[2017-03-21 16:50] nickkapoor opened #174 "Using images as opposed to @exponent/vector-icons"
How can we use Images as opposed to icons?

[2017-03-21 17:39] nickkapoor commented on #174
Wow, got it. Had to change the _renderIcon to uri the  image. Great package guys.    Close this issue please.

[2017-03-21 17:39] CharlesMangwa commented on #174
Closed #174.

[2017-03-21 17:39] #174 closed

[2017-03-22 01:36] nickkapoor opened #176 "Selecting an image in one of the scenes"
1) Like the package.

2) Having some difficulty with understanding navigation.  In particular, consider the situation, there is a scenes (Scene 1) with an image (Image 1) , which a user selects.  I want to take them to another page (Scene 1.1), which shows the details on the image.  I do not want to create a tab for the details page (Scene 1.1).  How can I insert Scene 1.1 without creating another

[2017-03-22 02:04] satya164 commented on #176
This is only a tab navigation library. See http://reactnavigation.org/ for a library for navigation.

[2017-03-22 02:04] #176 closed

[2017-03-22 02:05] nickkapoor commented on #176
Got it.  However, I was able to address #3 after getting the reference to the object.

[2017-03-22 16:14] krailler opened #177 "Android not rendering footer using TabViewPagerPan"
Using TabViewPagerPan and footer tabs, the tabs are not visible.

[2017-03-22 16:25] krailler commented on #177
Using a <View> with flex: 1, solve this

[2017-03-22 16:40] cdimitroulas commented on #118
I think I'm having the same issue. Using RN v0.38

[2017-03-22 16:42] #177 closed

[2017-03-23 05:45] mmkal opened #178 "Invalid prop `keyboardShouldPersistTaps` of type `string` supplied to `ScrollView`, expected `boolean`."
Tabs are rendering fine (working very well actually) - but I'm seeing this warning in the console when using them:
[code]
I'm creating the `TabViewAnimated` like this:
[code]
Any workarounds? Is this a bug?

[2017-03-23 05:56] satya164 commented on #178
You are getting the warning because you have an old React Native version and the prop for scrollview is changed in latest React Native. You don't need to worry if everything is working fine.

[2017-03-23 05:56] #178 closed

[2017-03-23 07:46] prasann278 opened #179 "how to go on second tab directly on button click"
i have two tabs in one view.  when i click on button it come on first tab but not coming on second tab directly

how to go on second tab directly on button click
please help me out in this '

[2017-03-23 08:21] fufuninja commented on #179
just do this.setState({ index : 1 }) on button clicked.

[2017-03-23 09:09] jshumakerpruitt commented on #172
Additional info: If I set the tab view screen as my initial screen all tabs work, but if I navigate to the tab view screen from a different screen the problem persists.

[2017-03-23 09:26] prasann278 commented on #179
@fufuninja
my button is on different page and tab view is in different page.

i have two tabs in one view. when i click on button it come on first tab but not coming on second tab directly

how to go on second tab directly on button click

[2017-03-24 11:33] patrykziem commented on #172
I also have encountered this problem on iOS 8.
It seems that tabs that contain ListView don't render if they are not set as initial. It only renders when the user swipes the screen.

[2017-03-24 15:20] leoaccorsi opened #180 "<TabBar /> pressColor not working"
is it right?

[code]

when i press, the pressed color isn't black is blue.

Is my code wrong?

[2017-03-24 17:00] Kudo commented on #151
@CharlesMangwa The code snippet you shown has error in flow as well. I think the problem is the type conflict between react-native-tab-view internal and caller, i.e. cannot extend or override react-native-tab-view's type definitions.

@satya164 Thanks and take your time. It's just a nice to have improvement and a chance for me to learn more about flow.

[2017-03-24 17:02] juergengunz commented on #157
@baolamsentifi +1

[2017-03-24 18:36] juergengunz opened #181 "Different Tab Width"
Is it possible to have for example 3 tabs and only one of the tab has a fixed width?

[2017-03-25 12:03] enstulen opened #182 "[Request] Add bouncing"
Is it possible to add bouncing of the indicator at the edge of the screen?

[2017-03-25 15:05] maxschmeling commented on #172
I was on `react-native@0.38.0` and an upgrade to `react-native@0.38.1` fixed the issue.

[2017-03-26 06:53] jshumakerpruitt commented on #172
@maxschmeling Worked for me as well. Thanks for the tip!

[2017-03-26 07:33] CharlesMangwa commented on #172
Thanks @maxschmeling !

[2017-03-26 07:33] CharlesMangwa commented on #172
Closing #172.

[2017-03-26 07:33] #172 closed

[2017-03-26 07:41] CharlesMangwa commented on #182
If you need this particular effect in your app, you can use `<TabBar />`'s `renderIndicator` prop to pass you custom component. You'll just have to write it and handle the bounciness ([here is how it's defined in this library](https://github.com/react-native-community/react-native-tab-view/blob/master/src/TabBar.js#L193-L204)). Feel free to submit a PR, they are always welcome!

[2017-03-26 07:41] CharlesMangwa commented on #182
Closing #182.

[2017-03-26 07:41] #182 closed

[2017-03-26 07:47] CharlesMangwa commented on #181
Yes you can do this, you just have to add some style to your specific tab.

[2017-03-26 07:47] #181 closed

[2017-03-26 08:16] CharlesMangwa commented on #180
Hi @leoaccorsi! Your code is ok, no worries. I think you're facing this issue on iOS only if I'm not mistaken. This is because RNTB use 2 different RN touchables in `<TabBar />` ([as you can see here](https://github.com/react-native-community/react-native-tab-view/blob/master/src/TouchableItem.js#L43-L62)):
- `TouchableNativeFeedback` on Android (which accepts a `pressColor` prop)
- `TouchableOpac

[2017-03-26 08:16] #180 closed

[2017-03-26 08:23] CharlesMangwa commented on #179
You just have to define your `state.index` at `1` so that RNTV will directly show your second tab. Here is a working example: https://sketch.expo.io/Hy1VqgSnl.

[2017-03-26 08:23] #179 closed

[2017-03-26 08:24] #165 closed

[2017-03-26 08:24] #116 closed

[2017-03-26 08:25] #83 closed

[2017-03-26 08:25] #164 closed

[2017-03-26 08:25] #125 closed

[2017-03-26 08:25] #112 closed

[2017-03-26 08:36] CharlesMangwa commented on #118
Hi @dccarmo @cdimitroulas! Here is a working example with a custom indicator: https://sketch.expo.io/ry532xrnx. Let me know if it solves your problem! Btw: you can also edit the code and send it back to us if you can reproduce your bug.

[2017-03-26 08:54] juergengunz commented on #181
@CharlesMangwa  How? If i do <tabbar tabStyle={{ width: 80 }}, it effects all tabs?

[2017-03-26 08:58] CharlesMangwa commented on #181
@juergengunz I mean that you can use RNTV `renderHeader` prop to pass your very own Tab bar. And there, you can display it as you want it to be!

[2017-03-26 09:51] j-rul commented on #125
@CharlesMangwa
I traced the problem down to an issue with the version of react native I had just upgraded to. Could not determine what was going on beneath the scenes, but reverting to my old version of RN solved the issue. (Was a bit busy and forgot I had raised the issue. Sorry about that.)
Thanks.

[2017-03-26 09:53] jephtta commented on #125
I traced the problem down to an issue with the version of react native I had just upgraded to. Could not determine what was going on beneath the scenes, but reverting to my old version of RN solved the issue. (Was a bit busy and forgot I had raised the issue. Sorry about that.)
Thanks

[2017-03-26 13:26] aracchi opened #183 "How to pass data between pages?"
Hi what i have is listview in each tab, using toptabtextexample as a guide. upon clicking on a listview, i want to view "more info" on that selected item, e.g
listview: HARRY POTTER
moreinfo: harry potter movie timings.

passing over would be the "id" of the movie. Previously i have been using NAVIGATION to pass data. however, i am having problems integrating..

it will be great if you can guide m

[2017-03-26 13:39] CharlesMangwa commented on #183
Hi @aracchi! If I got it right: this is rather a routing related problem than a RNTV one?

[2017-03-26 13:40] aracchi commented on #183
it is conflicting. so i am trying to integrate them together...

[2017-03-26 13:41] aracchi commented on #183
@CharlesMangwa before i used RNTV, i have been using navigator. but it is causing me inconvenience so i am now switching to RNTV. However, i am trying to pass data with RNTV instead of navigator. But i am unsure of how i can do it. hope this clarifies..

[2017-03-26 13:46] CharlesMangwa commented on #183
OK I'm seeing it more clearly now. RNTV isn't a routing library so be careful with what you want to do with it! However you can use the `renderScene` prop to handle which component should be displayed but that's not the best solution for your use case. You'd rather spent some time on your router library to see how you can make this work.

[2017-03-26 13:48] #183 closed

[2017-03-26 13:51] #118 closed

[2017-03-26 14:05] aracchi commented on #183
Yes, in my TopBarTab.js _renderScene, i have :
[code]
In my ItemList.js
i have a list of json data and i am trying to use props to pass my bus object over to the Info.js

so previously i have something like
[code]
Any idea how i can pass as props? I don't understand react native's document.

[2017-03-27 12:38] moerabaya opened #184 "RTL is not supported!"
What i'm suffering from is that the tabs still functioning the same as the LTR after switching to RTL, I know what seems to be the issue because I have a custom indicator, but i'm not able to use negative values to translate them to the opposite.

Thank you so much.

![untitled](https://cloud.githubusercontent.com/assets/12199727/24356535/b80fb316-12fa-11e7-9a82-14c41bff94e9.gif)

[2017-03-27 12:39] satya164 commented on #184
Can you send a PR to fix this?

[2017-03-27 12:57] moerabaya commented on #184
@satya164 I never send one, i'm not sure how to do that?

[2017-03-27 14:39] leoaccorsi opened #185 "Disable Scroll"
How can i disable scroll? I want to change tabs only when i click on it

[2017-03-27 14:41] satya164 commented on #185
https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/NoAnimationExample.js

[2017-03-27 14:41] #185 closed

[2017-03-27 18:11] elie222 opened #186 "Scrollable tab bar"
Does this package handle cases where there are 5+ items in the top tab bar?

I have a sketch with an example where I tried to make the tabbar scrollable when it has many items although that didn't exactly help:
https://sketch.expo.io/rkc9NCUnx

This is the behaviour I'd like to emulate:
<img width="375" alt="screen shot 2017-03-27 at 21 11 23" src="https://cloud.githubusercontent.com/assets/309052

[2017-03-27 18:13] satya164 commented on #186
https://github.com/react-native-community/react-native-tab-view#tabbar-

[2017-03-27 18:13] #186 closed

[2017-03-29 19:35] yaronlevi commented on #184
This bug also affects react-navigation. The TabNavigator is not working:

https://github.com/react-community/react-navigation/issues/860

[2017-03-30 08:07] yogi9999999 opened #187 "is there any method to change the tab color text and indicator color?"

[2017-03-30 09:31] gamma1210 opened #188 "Is there a way to change the tabs' colors?"
As stated above, I wanted to know if it is possible to change the color of the tabs.

[2017-03-30 09:32] yaronlevi commented on #184
Inside TabViewPagerScroll.js putting `flexDirection: 'row-reverse'` on the `<ScrollView />` fixes the problem partially. The tab's contents is shown but the order is reverse.

[2017-03-30 09:40] #188 closed

[2017-03-31 07:45] qingtong234 opened #189 "onChangePosition allways called twice"
hi, @satya164 , thank you for your awesome project.

When i use the `tabViewAnimated` component, `onChangePosition`  will always called twice, this is my code:
[code]
this is how i call the props:

[code]
am i do something wrong?

[2017-03-31 09:59] satya164 commented on #189
`onChangePosition` is called several times. What are you trying to do?

[2017-04-01 00:33] qingtong234 commented on #189
@satya164 actually i don't relalize the diffrence beween onChangeposition and requestChangeTab.

[2017-04-01 00:33] #189 closed

[2017-04-01 01:19] satya164 commented on #189
`onChangePosition` is called when animation happens, e.g.- the current slide position.

[2017-04-02 06:58] rendomnet opened #191 "Error when updated to latest version."
ReactNativeJS: Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in. Check the render method of `TabViewTransitioner`.

[2017-04-02 17:11] CharlesMangwa commented on #187
https://github.com/react-native-community/react-native-tab-view#tabbar

[2017-04-02 17:11] #187 closed

[2017-04-02 17:13] CharlesMangwa commented on #191
Hi @rendomnet! Did you track down the piece of code generating this error?

[2017-04-04 06:09] dastoori commented on #184
#https://github.com/facebook/react-native/issues/11960

[2017-04-05 13:31] yogi9999999 commented on #171
I am using listview in both the tabs and onPress when I am pushing the page on <PushingPage> I am getting this error :
 this.props.navigator.push({id: 8,}); it giving me error "undefined is not object(evaluating 'this.props.navigator.push')"

[2017-04-05 14:20] yogi9999999 opened #192 "this.props.navigator.push() is not working in listview inside the <Component/> on both tabs"
I am using listview in which is inside the pure component  and onPress when I am pushing the page  this.props.navigator.push({id: 8,});

 it giving me error "undefined is not object(evaluating 'this.props.navigator.push')"

[2017-04-07 21:53] CharlesMangwa commented on #192
As described in the error: you should probably make sur the component has received `navigator` in its props.

[2017-04-07 21:53] #192 closed

[2017-04-08 16:15] flaviotobi opened #193 "[Android] ScrollView and Keyboard Bug"
Hi,
Components:
First Tab Bar: has TextInput
Second Tab Bar: has ScrollView

The problem is that if you have two tab bar, and click on a text Input and open the keyboard, and with the keyboard up, scroll to second tab bar, it continue on the first bar.
But if you remove the scrollView it works fine. and it works fine on iOS.
Se in more detail in the video:

<img src="https://cloud.githubuserconten

[2017-04-08 17:39] satya164 commented on #193
Does passing this prop to `TabViewAnimated` solve your issue?

[code]

You can import `Keyboard` from `react-native`

[2017-04-08 21:16] dastoori commented on #184
@yaronlevi, look at my last comment here: https://github.com/facebook/react-native/issues/11960#issuecomment-292732636

@moerabaya, I sent a PR #194, until it merged, you can use one of these:
- `npm i -S https://github.com/dastoori/react-native-tab-view.git#rtl-support`
- `npm i -S https://github.com/dastoori/react-navigation.git#rtl-support`

[2017-04-10 08:40] flaviotobi commented on #193
@satya164 Nope it doesn't work :/

[2017-04-10 09:33] flaviotobi commented on #193
I believe the problem is in: ViewPagerAndroid
I just change the TabViewAnimeted.js component to this and now it works:
[code]

In the ViewPagerAndroid docs it says this:
And what is the meaning?:

[2017-04-10 17:53] caioavila-arvore commented on #157
How I can use variable width for variables contents?

[2017-04-11 19:31] Viktor6713 opened #195 "canJumpToTab not working properly on Android"
Hi there, I have a problem with `canJumpToTab` on Android(real device and simulator).
When changing tabs by swiping, the newly swiped scene stays still rendered, even if it should jump back to one I swiped from, only indicator in `TapBar` jumps back and correct tab label is active.
This works on iOS(tested on simulator) without problem. I am using the newest version.

[2017-04-12 08:51] 7laria opened #196 "TabBar don't show"
I'm using the TabViewExample to get a test but the top tab bar isn't show. how I can fix?

![photo6012822161791756233](https://cloud.githubusercontent.com/assets/16237713/24949548/4a509144-1f6e-11e7-8ebe-ec0cb15885fa.jpg)

[2017-04-12 08:58] 7laria commented on #196
if i remove the nav bar it work but how I can place the navbar of route flux and the tab bar of this?

[2017-04-12 09:16] 7laria commented on #196
Solved.

[2017-04-12 11:03] genesy opened #197 "No option to define Tab style for selected and non-selected Tabs?"
Does an option to define them exist? I can't figure out how to get all tabs to look alike and just have the indicator be the indicator.

[2017-04-12 11:05] genesy commented on #197
I guess just adding opacity:1 to tabStyle solved my issue.

[2017-04-12 11:05] #197 closed

[2017-04-13 09:52] FacuAcosta opened #198 "Is there a way to change selected tab header?"
Basically, I want to change the backgroundColor and the label color whenever you select a tab, but I don't know If there is a property or a method to do so. For example, I have this 2 tabs:

![screen shot 2017-04-13 at 10 48 50](https://cloud.githubusercontent.com/assets/19332669/24999802/e4cb3c60-2036-11e7-84bd-1d4e3b4dc4ea.png)
And I want them to look like this:
![screen shot 2017-04-13 at 10 50

[2017-04-13 20:09] sibelius commented on #196
@7laria could you post your solution here?

[2017-04-13 20:14] sibelius commented on #54
I'm facing this issue again against react native 43

and "react-native-tab-view": "^0.0.58",

[2017-04-13 20:28] sibelius commented on #54
fixed using `zIndex: 0`

[2017-04-14 13:25] 7laria commented on #196
Simply adding a style to tabbar with some MarginTop

[2017-04-14 13:30] #196 closed

[2017-04-14 13:32] #191 closed

[2017-04-14 17:54] j-rul opened #199 "Changing tab index programmatically does not change selected tab indicator"
My setup is the same as in this example: https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/NoAnimationExample.js, except that I have swiping and animation enabled.

I am using setState to change the selected tab like so: setState({ index: 1 }),  and it changes the current scene, but the tab indicated as selected in the tabbar (in my case, with a different icon

[2017-04-14 20:20] Assem-Hafez opened #200 "TabBar doesn't support RTL"
In RTL views the TabBar tabs are reversed so their order and selection doesn't match the swipe gesture and the underline animation.

it would be great if the order of tabs in RTL views matches that of LTR views.

[2017-04-14 20:44] joncursi opened #201 "Tracking analytics / integration with react-navigation"
NavExp has been deprecated in favor of `react-navigation`, which pretty much has [built-in support](https://reactnavigation.org/docs/guides/screen-tracking) for screen tracking analytics.

However, if your screen is a tab view, with multiple (potentially deep and complex) tabs, react-navigation only interprets this as one single screen. So you lose a lot of insight into what your users are doing i

[2017-04-15 23:41] dastoori commented on #200
I've fixed this functionality in #194, it will be available in the next version.
You can also see this: https://github.com/react-native-community/react-native-tab-view/issues/184#issuecomment-292746177

[2017-04-16 12:53] CharlesMangwa commented on #199
Hi @j-rul! You should make sure that you read the doc and the provided examples correctly. Based on what you said, I tried to reproduced your bug without success : https://snack.expo.io/HyTpDJbRe. Don't hesitate to re-open your issue if needed/you reproduce your bug on [Snack](snack.expo.io).

[2017-04-16 12:53] #199 closed

[2017-04-16 12:58] CharlesMangwa commented on #198
Hi @FacuAcosta! You just have to use the [`renderHeader` prop](https://github.com/react-native-community/react-native-tab-view/blob/272cc3a555e665916024cc97ded5f80e5b567485/example/src/TopBarTextExample.js#L86) to do so. Then you can styled your header as you wish ([example here](https://github.com/react-native-community/react-native-tab-view/blob/272cc3a555e665916024cc97ded5f80e5b567485/example/s

[2017-04-16 12:58] #198 closed

[2017-04-16 13:06] CharlesMangwa commented on #201
Hi @joncursi! Although your issue is quite relevant, given that these are `react-navigation`'s problems, you should probably post it on [its repo](https://github.com/react-community/react-navigation/issues) first.

[2017-04-16 13:06] #201 closed

[2017-04-17 03:36] suprb opened #202 "Programmatically jump from on page to another from another component"
Hi,

Is it possible to jump from one page (index) to another from different imported components?

Thanks

[2017-04-17 09:00] roshangm1 opened #203 "Is it possible to style particular tab ?"
I want to add some vertical separator between the tabs. How do I achieve this ? Is it possible with the current tab view, or should i add the code to get those behaviour?

[2017-04-17 09:46] roshangm1 commented on #202
I have this same issue. I want to jump to particular tab from the certain component without pressing the tabs itself.

[2017-04-19 21:54] escobar5 commented on #148
Hi @CharlesMangwa, I'm trying to do the same, do you know how can I listen to the scroll to decrease the bar height?

[2017-04-19 22:01] navratill commented on #148
@escobar5 I think that @CharlesMangwa meant to listen on ScrollView/ListView and send onScroll delta by callback (or another way) into TabView props. After renderHeader will be called and you should react on this onScroll delta there.

[2017-04-20 03:10] satya164 commented on #200
Re-opening this since `TabBar` with `scrollEnabled` still doesn't support RTL.

[2017-04-20 03:11] satya164 commented on #184
Re-opening this since RTL is not yet supported in `TabViewPagerScroll`, hence unsupported on iOS.

[2017-04-20 09:21] johnnylc opened #205 "[question] how to set the width of the tab item?"
I have 2 tab item in the TabViewAnimated. I need each of them take 1/2 screen width.  Now they are not taking the whole screen width. How can I set the width of each tab item? Thanks.

[2017-04-20 09:34] #205 closed

[2017-04-20 10:11] dastoori commented on #184
@satya164, iOS ScrollView has been fixed in ReactNative v0.43.2 (https://github.com/facebook/react-native/issues/11960#issuecomment-292732636)

[2017-04-20 10:14] satya164 commented on #184
Nice. I think we may still need to handle the scroll position etc.

[2017-04-20 13:22] dastoori commented on #184
I checked this in version `0.0.59`, i used the examples in `examples` folder. These examples does not works properly:

- "1. Scrollbar top bar"

![scrollabletopbar](https://cloud.githubusercontent.com/assets/2003143/25232217/ca6c2e10-25ef-11e7-82ea-ba38419d9549.gif)

- "3. Bottom bar with indicator"

![bottombarwithindicator](https://cloud.githubusercontent.com/assets/2003143/25232216/ca6a6ac6-25e

[2017-04-20 13:27] satya164 commented on #184
This one uses a custom indicator, that's why. Should be easy to fix.

Yeah, this one will be more involved

[2017-04-20 14:11] escobar5 commented on #148
@navratill thanks, it's clearer now. Did you manage to do it?

[2017-04-21 12:45] rad182 opened #206 "Android tab bar icon won't overflow"
Hi, I'm trying to replicate the Facebook Messenger tabs where the Camera button overflows the tab bar. Currently testing this with the react navigation sample code NativePlayground.

Under SimpleTabs.js i also added showIcon for tabBarOptions and tabBarPosition to be "bottom".
I modified this code and added margin bottom.
[code]
Results
iOS
<img width="375" alt="screen shot 2017-04-21 at 12 25 53

[2017-04-21 15:04] escobar5 commented on #148
@navratill  ok, let me know if you get somewhere, I'll let you know as well 😉

[2017-04-21 22:51] shrutic opened #208 "Once you navigate to a tab to render a view, is the view held in memory when you switch tabs"
I could not figure that out from the README. I want to make sure I don't re-render a particular tab view if I have navigated to it before. Let me know and it would be awesome if this is called out in README

[2017-04-22 06:15] shrutic commented on #193
I have the same issue on iOS. The option of adding
'''onChangePosition={Keyboard.dismiss}'''
to < TabViewAnimated> did not work for me

[2017-04-22 06:24] shrutic commented on #208
Tried it out and it does seem to hold the view in memory..

[2017-04-22 06:24] #208 closed

[2017-04-22 06:38] shrutic opened #209 "2 Tabs in TabViewAnimated with one of tabs with text input requires 2 click to change tabs"
The scenario is that there is a text input in tab one.
If the keyboard is up, it takes 2 clicks to change to tab 2:

- one click for dismissing keyboard
- another for changing tabs

React native version : 0.43.3
platform: iOS

[2017-04-22 09:52] flaviotobi commented on #193
@shrutic have you tried my solution ?

[2017-04-24 04:14] iRoachie opened #213 "Typescript typings"
Hey man! Great library. Just wondering if you're interesting in having typescript definitions for this library (for those wanting to use react native with typescript). I already have stubbed them out in a few of my projects. Let me know @fson

[2017-04-24 19:06] agrcrobles commented on #159
so I found react-native-web has implemented `babel-plugin-transform-react-remove-prop-types` and therefore no propTypes in a production environment ( `__DEV__: false` by webpack.DefinePlugin ) so my web app crashes when TouchableItem, TabBar or TabViewTransitioner try to compose/extend their props from View or Text.

Not sure which is the best solution for that, In the meantime I have forked and r

[2017-04-24 19:18] satya164 commented on #159
@agrcrobles shouldn't the plugin also remove the proptypes from `react-native-tab-view`?

[2017-04-24 22:24] LaloHao opened #214 "Is is possible to embed a tab inside a tab?"

[2017-04-24 23:21] satya164 commented on #151
I just opened a new PR with this ability https://github.com/react-native-community/react-native-tab-view/pull/215

Will appreciate if you take a look.

[2017-04-26 07:14] ligaz commented on #213
Hey @iRoachie can you please share your typings? 😄

[2017-04-26 13:26] iRoachie commented on #213
lol @ligaz they're are far from complete since I haven't used all the methods/props. Lol I wish there was a table in readme like showing the all the props and their values

[2017-04-26 13:56] iRoachie commented on #213
@ligaz I could make it a public gist and we could work on it

[2017-04-26 14:00] satya164 commented on #213
Not opposed to have typings, but they need to stay up-to-date. So if you want to maintain them, feel free to send a PR with the typings (also maybe a test case to ensure I don't break them accidentally) :D

The library is fully-typed with Flow. You can find the exported flow types at https://github.com/react-native-community/react-native-tab-view/blob/master/types.js

For the prop types of individ

[2017-04-26 14:01] satya164 commented on #151
Closing this since the PR is merged to master now. Please open a new issue if you still face problems with Flow.

[2017-04-26 14:01] #151 closed

[2017-04-26 14:02] iRoachie commented on #213
@satya164 Thanks! That makes it 10x easier. Will start work on it

[2017-04-27 01:47] shrutic opened #216 "Reduce indicator size when the tab has margin specified"
As per our design requirement, we needed to restrict the tab bar to have margins top and bottom as below.
![image](https://cloud.githubusercontent.com/assets/4141641/25464247/2f5e7052-2ab0-11e7-838c-e3a46696253e.png)

Below is the implementation of the renderIndicator in the library

[code]

How can I modify this so that the indicator doesnt overflow like shown in the screenshot above. My Animated

[2017-04-27 01:49] shrutic opened #217 "Run the indicator Aimation and the Label text color change animation in parallel"
Is it possible to run the label text color change animation and the indicator animation in parallel? Currently when I animate in renderLabel() and in renderIndicator(), the animations seem to run in sequence and does not look refined

react native version : 0.43.3
Librayr version : 0.0.59

[2017-04-27 07:04] sopaco opened #218 "how to config the typescript support to integrated it into a webpack-based react project"
how to config the typescript support to integrated it into a webpack-based react project?

[2017-04-27 07:07] satya164 commented on #218
I don't use typescript, and the question is not related to this project.

[2017-04-27 07:07] #218 closed

[2017-04-27 11:09] jasan-s opened #219 "quick Jumping between Tabs Weird Loop"
I have 3 tabs , one of them containing ListView(not sure if its relevant to the error). WHen I swipe quickly back and forth between the tabs, the animation gets stuck in a loop even after I stop swiping.  The Same behavior occurs when I quickly jump back and forth between tabs by tapping as well.
 iOS Device only shows this behavior , Android Device does not:
[code]

[2017-04-27 11:57] satya164 commented on #219
Please mention your platform, React Native version and version of the library.

[2017-04-27 13:27] jasan-s commented on #219
![giphy 2](https://cloud.githubusercontent.com/assets/13863953/25485339/73fbc860-2b12-11e7-9c33-0902cdbe41ea.gif)
@satya164  Here is a screen grab from the iphone. I tested it on android and I cant seem to replicate it on android device.

[2017-04-27 15:21] Kudo commented on #151
Thank you @satya164. The change looks great and cool to use flow generic type.
Learn a lot from your code, thanks.

[2017-04-27 20:28] jasan-s commented on #219
it may be because on ios the user taps are registered without any delay, and by the time I press to go to Third Tab the animation is still in process of going to Second Tab.  On Android the subsequent taps are just ignored if i'm tapping to quickly between tabs.  So Is there a way to ignore taps in iOS if there too close apart in duration?

[2017-04-27 20:29] satya164 commented on #219
I'll look into it today

[2017-04-27 21:26] satya164 commented on #219
Hey, I don't have an iOS device and I was unable to repro on the simulator since it's so hard to swipe there.

Can you try this PR to see if it fixes the issue? https://github.com/react-native-community/react-native-tab-view/pull/220

[2017-04-27 21:42] jasan-s commented on #219
@satya164  Thanks, that PR definitely fixed the strange behavior from occurring  when tapping between tabs :+1:  . But the same weird behavior still occurs if I swipe between tabs quickly.  Is there a suggestion for it?

[2017-04-27 21:47] satya164 commented on #219
Hmm. Lemme try. Kinda hard due to no device, but will see.

[2017-04-27 21:55] satya164 commented on #219
It's a shot in dark. But does #221 help?

[2017-04-27 22:56] jasan-s commented on #219
That fixed It. :+1:  But new Weird behavior is introduced from PR [#220](https://github.com/react-native-community/react-native-tab-view/pull/220).  When the App loads initially  Tapping on any other tabs does not change the View.  Only after swiping to another tab then tapping on other tabs has any effect.

[2017-04-27 23:13] satya164 commented on #219
Thanks a lot for keeping up! I just sent #222 which should fix the issue.

[2017-04-27 23:24] #219 closed

[2017-04-27 23:57] jasan-s commented on #185
add this to
[code]

[2017-04-28 03:26] jasan-s commented on #105
@Polidoro thanks for the snippet. nested Tabview on Android is finally functional. :)

[2017-04-28 08:46] KatSick opened #223 "Why active tab is not clickable"
How can i override behaviour to active tab be active to click

[2017-04-29 14:22] prtkkmrsngh opened #224 "Can we render tab just on slight scroll?"
I'm trying to initialize camera on scroll of tab just like whatsApp. Is it possible here?

[2017-04-29 16:14] diaraujo13 opened #225 "Tab page change stops working when re-navigating to previously mounted page"
Here is the problem:

https://www.youtube.com/watch?v=w5xDcPINP14

I tried the caveat at README but it not works.

Code snippet is here:

https://gist.github.com/diaraujo13/e0c42e004563e6ba51d011b0478db89f

[2017-04-29 17:47] satya164 commented on #225
I can't access the video. You've to publish it first

[2017-04-29 18:34] VinAppFun commented on #223
I can't selectable in TextInput?

[2017-04-30 03:18] diaraujo13 commented on #225
Sorry for the wrong link, now its fixed

[2017-04-30 11:44] karanjthakkar commented on #216
@shrutic Can you post a minimum working example of this on https://snack.expo.io? At first look, this doesn't seem to be an issue with this library. It should be solvable by styling appropriately. I can give you more info on how to solve this once we have reproducible example from you.

[2017-04-30 11:47] karanjthakkar commented on #214
@LaloHao Do you have a screenshot/gif of what exactly you're hoping to achieve?

[2017-04-30 11:50] karanjthakkar commented on #206
@rad182 Can you post a minimum reproducible example of this on https://snack.expo.io? I'd love to look into it for you.

[2017-04-30 18:06] joncursi commented on #201
Looks like react navigation uses this library under the hood. Didn't realize that. So I just switched over from using this library directly to using the Tabs component in React Navigation to get the best of both worlds: slick tabs interface + tracking analysis.

[2017-04-30 20:57] LaloHao commented on #214
4 tabs above, and each tab should have the 2 children below
![img](https://anonimag.es/i/WhatsAppImage2017-04-20at18.29.197c57e.jpg)

[2017-04-30 20:58] LaloHao commented on #214
I managed to workaround by making another component which modifies the tab-view state, but its hacky, so i would stilll like to know if theres a cleaner way of doing it

[2017-05-01 09:38] satya164 commented on #225
Thanks for the report. Do you happen to use latest React Native? @brentvatne found this issue with latest RN too.

[2017-05-01 10:47] satya164 commented on #214
Not sure what problem you are having. Can you post your code?

[2017-05-02 10:48] johnnylc opened #226 "Upgrade to 0.0.62 cause error."
When I upgrade from 0.0.61 to 0.0.62, I met the error: "The specified child already has a parent. You must call removeView() on the child's parent first". In 0.0.61 version, there is no error.

[2017-05-02 12:42] dileepkantapop opened #227 "nested scroll is not working"
I am creating one more TabViewAnimated inside another TabViewAnimated, i am unable to get the child view. can you help me to get rid of my issue?

[2017-05-02 15:36] WillyRamirez commented on #105
@satya164  Hi! When I use @Polidoro 's example I get the following error:
"The specified child already has a parent. You must call removiewView() on the child's parent first."

Do you have any idea why this erroris thrown?

[2017-05-02 16:01] Polidoro commented on #105
Can you paste your code? Also what version of react-native-tab-view are you using (since as jasan-s mentioned the behavior changed recently)

[2017-05-02 16:15] WillyRamirez commented on #105
@Polidoro  thanks for the fast response! this is my class. Basically a copy from the example page.
[code]

[2017-05-02 21:24] Polidoro commented on #105
I assume you're on v0.0.61?

Does the error occur on Android too or just iOS? Have you tried swapping the ScrollView out for a regular View to see if that has any impact?

[2017-05-02 21:56] WillyRamirez commented on #105
I was on v0.0.62, downgraded to .61 and it works now! Thanks a bunch @Polidoro
I am using android.
I am experiencing another bug now where the entire app freezes on when switching tabs after a few taps, but will probably create separate issue.

[2017-05-03 07:58] satya164 commented on #105
Definitely a bug with React Native since I'm not doing any weird stuff here. And I was able to successfully nest it.

[2017-05-03 15:46] WillyRamirez commented on #105
Are you sure? After diving into this today I found that on the second time I change tabs,
_renderPager, _renderHeader, _renderScene and _handleChangeTab() are in a loop, infinitely being called until the max call stack error stops the loop. _handleChangeTab is even called with different index everytime.

When I wait 30 seconds between each click, this does not occur. Also when I don't use TabViewP

[2017-05-03 16:33] satya164 commented on #105
`"The specified child already has a parent. You must call removiewView() on the child's parent first."` doesn't sound like an infinite loop.

Please open a new issue with the code if there is an infinite loop and I'll look into it.

[2017-05-03 17:16] sibelius commented on #227
could you provide a repo example?

[2017-05-03 17:17] sibelius commented on #226
could you provide a repo to reproduce this?

[2017-05-03 17:55] atpunk opened #228 "Android: Tabbar still animating when configureTransition is set to NULL"
`<TabViewAnimated
               configureTransition={null}
                  style={styles.container}
                  navigationState={this.state}
                  renderScene={this._renderScene}
                  renderFooter={this._renderFooter}
                  onRequestChangeTab={this._handleChangeTab}
                />`

[2017-05-03 17:57] atpunk opened #229 "Android: Tabbar Badge does not display"
Stylesheet
`badge: {
    flex:1,
    backgroundColor: '#EFEFF2',
    marginTop: 4,
    alignSelf: 'flex-end',
    right:dim.width/11,
  },`

render badge method with the above style works on iOS.

[2017-05-03 18:43] satya164 commented on #228
There is no `configureTransition={null}`. Use `animationEnabled={false}` - https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/NoAnimationExample.js#L163

[2017-05-03 18:43] #228 closed

[2017-05-03 19:00] WillyRamirez commented on #105
@satya164  that was the error I got implementing Polidoro's fix with V 0.0.6.2. With V0.0.6.1 the error was gone, but now I have an inf loop. I'll create a new issue, thanks.

[2017-05-03 19:01] Polidoro commented on #105
Not sure if this helps clarify but I wrote that snippet well before v0.0.62 was released. v0.0.59 (or around there) made that workaround unnecessary.

[2017-05-03 19:03] WillyRamirez commented on #105
I'll downgrade again, thnx for the headsup. However even though if it fixes it, the inf loop is still worth looking into.

[2017-05-03 19:13] WillyRamirez commented on #105
@Polidoro  the downgrade fixed it again. V0.0.58 in combination with your implementation above works perfectly!

@satya164  let me know if you want to explore the inf loop with me on V0.0.61. I can create an issue.
The `"The specified child already has a parent. You must call removiewView() on the child's parent first."` is most likely a React-native issue.

[2017-05-03 19:39] satya164 commented on #105
Please create an issue. I'm on vacation right now, but will look as soon as I get time.

[2017-05-03 19:56] javamonn commented on #225
We're seeing a similar issue on `react-native@0.43.4` and `react-native-navigation` - the tab bar and swipe to change tabs stops working after re-navigating to a previously mounted screen containing this component. Our workaround is to watch the screen visibility and unmount and remount the component each time it enters into view, which is non-ideal.

For what its worth, I consistently get this er

[2017-05-03 20:05] satya164 commented on #225
That's a React Native bug unfortunately https://github.com/facebook/react-native/issues/1693

You might not get in production at all though.

Regarding the bug, it's definitely a bug with `ViewPagerAndroid`. Worth filing a bug report in RN repo.

[2017-05-03 20:09] javamonn commented on #225
Could that Error getting thrown trigger the `ViewPagerAndroid` / tab switching bug or unrelated you think? I remember seeing these break other things in the past.

[2017-05-03 20:18] javamonn commented on #225
I wonder if this is the core issue: https://github.com/facebook/react-native/issues/13463

[2017-05-04 05:08] jasan-s opened #232 "requires double click on tabs after interaction with Child Interactable Component"
[code]

I currently am using [Wix Interaction Lib](https://github.com/wix/react-native-interactable) component as a child to one of the tab views. However If I interact with the intractable view in any way , the tabs require 2 Clicks before changing Views. IF I don't interact with the Intractable View, the tabs work as normal(changing on one click.) However, Swiping between Tabs always works even

[2017-05-04 07:16] jasan-s commented on #91
@jephtta I wrapped my react-native-tab-view inside a scene similar to your code snippet.  But how would I keep track of the current view. I have nested tabs within main tabs.

[2017-05-04 13:42] yogi9999999 commented on #192
I have read the documents but couldn't find possible solution can you tell where i miss?

[2017-05-04 13:44] yogi9999999 commented on #187
I have read the documents but couldn't find possible solution can you tell where i miss?

[2017-05-04 15:13] jasan-s commented on #22
@nachoaIvarez are you using react-native-tab-view as your main container for the app to track nav state in redux?  And not using any  navigation libs i.e react-navigation or react-native-router-flux?

[2017-05-05 05:04] yogi9999999 opened #234 "Change text color on change of tab?"
is there any method to change the tab text color on change of tab.Right now its just lighten the text color but wanted to change it to a different color ?

[2017-05-07 02:54] jacobbodkin commented on #232
I am having this issue as well. Sub-components will not update props until a slide action (or a change tab action). I have confirmed the _render function in the TabViewAnimated is the stuck point.

[2017-05-07 03:02] satya164 commented on #232
@jasan-s tabs are normal touchables, are you having problems with other touchables such as `TouchableNativeFeedback` and `TouchableOpacity`?

@jacobbodkin that's unrelated to this issue and already documented under caveats https://github.com/react-native-community/react-native-tab-view#caveats

[2017-05-07 03:03] satya164 commented on #234
https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/ScrollViewsExample.js#L63

[2017-05-07 03:03] #234 closed

[2017-05-07 03:09] satya164 commented on #195
This should be fixed as of the latest version. Please let me know if that's not the case.

[2017-05-07 03:09] #195 closed

[2017-05-07 03:10] satya164 commented on #200
Closing in favour of #184. Let's track all RTL related issues there.

[2017-05-07 03:10] #200 closed

[2017-05-07 03:11] satya164 commented on #202
You can pass a function which updates the state as a prop. It's same as how you'd update the state of one component from a different component in React.

[2017-05-07 03:11] #202 closed

[2017-05-07 03:12] satya164 commented on #206
React Native on Android doesn't support `overflow: visible`

[2017-05-07 03:12] #206 closed

[2017-05-07 03:13] #216 closed

[2017-05-07 03:14] satya164 commented on #224
You can listen to the `onChangePosition` callback and do what you want (that's how lazy loading is implemented). But I can't guarantee that it'll be performant.

[2017-05-07 03:14] #224 closed

[2017-05-07 03:15] #214 closed

[2017-05-07 03:15] satya164 commented on #217
Not sure what you mean. Can you post a GIF/video?

[2017-05-07 03:16] satya164 commented on #203
You can use `tabStyle` to add a border

[2017-05-07 03:16] #203 closed

[2017-05-07 03:18] satya164 commented on #209
You can wrap the input in a scrollview and customize `keyboardShouldPersistTaps` behaviour - https://facebook.github.io/react-native/docs/scrollview.html

[2017-05-07 03:18] #209 closed

[2017-05-07 04:07] jasan-s commented on #232
@satya164, I'll have to check what the wix interactable component uses underneath. You think the touchable it uses may be the cause.

[2017-05-07 05:36] prtkkmrsngh commented on #224
I'm doing this in onRequestChangeTab callback by changing states of particular scene.
onChangePosition is not performing well.

[2017-05-07 06:59] valeriik commented on #234
You highlighted string number 63 "this._third.scrollTo({ y: 0 });" in the link above but how does this relate to change text color of a tab?

[2017-05-07 07:12] joncursi commented on #110
@satya164 the issue I'm having with the above proposed solution is that the user can't reclaim control of the movement of the tabs if there is an interval running on it. The only function available to us in the API is `onRequestChangeTab`, which gets called both from user interaction (swiping) and programmatic code (interval).

Is there a way I can distinguish from a change in tab due to a user sw

[2017-05-07 07:33] satya164 commented on #110
`onRequestChangeTab` shouldn't be called if you already did a `setState`.

[2017-05-07 07:34] satya164 commented on #234
Please read the full example.

[2017-05-08 20:07] jasan-s commented on #232
Can't seem to pinpoint the cause for this.  If you have time, in order to reproduce the issue.  Return the following component from any of the tabs.
[code]

[2017-05-09 08:53] #227 closed

[2017-05-09 09:11] dileepkantapop opened #237 "scrollEnabled={false} does not work in <TabBar>"
I have written in

 _renderHeader = (props) => {
        return <TabBar {...props}
            renderIcon={this._renderIcon}
            indicatorStyle={styles.indicator}
            style={styles.tabbar}
            scrollEnabled={false}/>;
    };

and i am calling _renderHeader like this:
 <TabViewAnimated
                        ...
                        ...
                        ...

[2017-05-09 12:47] yogi9999999 opened #239 "tab inside tab doesnt show child tab views"
In my design have to create a tab inside a tab but the child-view tab component doesn't get reflected....????

[2017-05-09 14:57] WillyRamirez commented on #37
@satya164  how do I remove this default hairline shadow? Passing a style object with shadowOpacity: 0, to the tabBar does not seem to work..

[2017-05-10 03:57] pqminh opened #240 "Unknown props in div in View in TabViewTransitioner created by TabViewAnimated"
![error](https://cloud.githubusercontent.com/assets/13993984/25882645/29c9a296-356f-11e7-8eaf-2318a44ea766.png)

I use windows 10 and "react-native-tab-view": "0.0.56".

[2017-05-10 04:03] satya164 commented on #240
That's a very old version. Please upgrade to a newer version.

[2017-05-10 04:03] #240 closed

[2017-05-10 04:19] satya164 commented on #225
Related discussion https://github.com/expo/ex-navigation/issues/415

[2017-05-10 04:34] satya164 commented on #37
@WillyRamirez passing style should work on iOS. do you have code/repro?

[2017-05-10 05:36] satya164 commented on #237
I'm not sure what you mean `scrollEnabled={false}` is the default, so you don't need to specify that. Please reopen with a repro gif/video if you have.

[2017-05-10 05:36] #237 closed

[2017-05-10 05:37] satya164 commented on #226
Closing due to no response. If you have a repro, please comment.

[2017-05-10 05:37] #226 closed

[2017-05-10 05:37] #217 closed

[2017-05-10 05:37] satya164 commented on #217
Closing due to no response

[2017-05-10 05:38] satya164 commented on #223
I'm not sure what you mean. Can you post what you want to achieve?

[2017-05-10 05:52] KatSick commented on #223
I upgraded library to the last version, and issue is resolved.

[2017-05-10 05:52] #223 closed

[2017-05-10 06:43] dileepkantapop commented on #237
By default it scroll so i wrote the statement scrollEnabled={false} inside <TabBar>.

[2017-05-10 06:50] satya164 commented on #237
I'm not sure I understand. What scrolls by default? I'm 100% sure the TabBar does not.

[2017-05-10 07:03] dileepkantapop commented on #237
By default the tab scrolls by swiping the views between them. I need to disable the swiping of the tabs to change the child view of the tab

[2017-05-10 07:14] satya164 commented on #237
You are looking for `swipeEnabled={false}` https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/NoAnimationExample.js#L160

[2017-05-10 07:18] dileepkantapop commented on #237
Thanks Satya. The library is very helpful.

[2017-05-10 14:53] joncursi opened #241 "How to pass additional props using SceneMap?"
How do you pass additional props to a tab using `SceneMap`?

[code]

`TabOne` and `TabTwo` may be functional components, or classes. How do you pass additional props to them?

[2017-05-10 14:56] WillyRamirez commented on #37
@satya164  I use android? Does that matter?

[code]

[2017-05-10 14:59] prtkkmrsngh opened #242 "How to implement modal with tab view"
I'm using [react-native-modalbox](https://github.com/maxs15/react-native-modalbox). Nesting `react-native-modalbox` component and `TabViewAnimated` is not working. Using modal inside scenes doesn't overlay the entire screen, tab can be switched. Any help?

[2017-05-10 15:00] joncursi opened #243 "[0.65.0] Android tab content coming up blank?"
Pretty much all of my tabs on Android are rendering blank content on `0.65.0`. iOS is fine, just Android. Consider the following:

[code]

Result:

<img width="677" alt="screen shot 2017-05-10 at 10 56 04 am" src="https://cloud.githubusercontent.com/assets/4974609/25905207/5a157560-356f-11e7-9635-1424aca22dd1.png">

I have tried applying a `style` prop on TabViewAnimated with heights, widths, flex

[2017-05-10 15:01] joncursi commented on #243
FWIW, when I remove TabViewAnimated and render the tab content straight up, it renders correctly. But when I nest it inside TabViewAnimated via `renderScene`, I get blanks.

[2017-05-10 15:07] prtkkmrsngh commented on #243
I upgraded the package to 0.0.65 and everything is working as expected. Can you debug it with debugger?

[2017-05-10 15:19] satya164 commented on #241
You can define them as `key: () => <TabOne prop={this.props.someProp} />`, but note that it won't update as `this.prop.someProp` changes (it didn't with a normal `renderScene` function` anyway).

Scenes defined this way also won't update if the state changes, which is great for perf. If you absolutely need them to update, you should use the function manually as you did before.

[2017-05-10 15:19] #241 closed

[2017-05-10 15:20] satya164 commented on #37
@WillyRamirez this is only for iOS. On Android you need to pass `elevation: 0`

[2017-05-10 15:20] #37 closed

[2017-05-10 15:25] satya164 commented on #242
The library doesn't use Portals, so it's expected. It's not specific to tab view.

[2017-05-10 15:25] #242 closed

[2017-05-10 15:34] satya164 commented on #243
Do you have some code/repo I can check?

[2017-05-10 15:40] joncursi commented on #243
@satya164 unfortunately my code is very coupled to business logic ATM. I'll keep playing with it, but I wanted to post here to see if others were having the same issue. I'll report back soon, and if all else fails, I'll create a repro.

[2017-05-10 15:43] satya164 commented on #243
@joncursi thanks. a repro will help

[2017-05-11 02:05] jefferscn opened #244 "prop loaded on View"
`<View
        onLayout={this._handleLayout}
        loaded={this.state.loaded}
        style={[styles.container, this.props.style]}

Here is code from TabViewAnimated.js , what's the usage of loaded prop.
There is no description aboue "loaded" in document of react-native's View.

[2017-05-11 02:09] satya164 commented on #244
It's not a public API. It's used to implement lazy load internally.

[2017-05-11 02:09] #244 closed

[2017-05-11 12:41] sibelius commented on #243
@joncursi try to use `zIndex`

https://github.com/react-native-community/react-native-tab-view#tabbar-disappears-or-shows-weird-behaviour-when-conditionally-rendering-items

[2017-05-11 12:42] sibelius commented on #239
try to use `zIndex`

https://github.com/react-native-community/react-native-tab-view#tabbar-disappears-or-shows-weird-behaviour-when-conditionally-rendering-items

[2017-05-11 12:46] sibelius commented on #229
@joncursi try to use `zIndex`

https://github.com/react-native-community/react-native-tab-view#tabbar-disappears-or-shows-weird-behaviour-when-conditionally-rendering-items

[2017-05-11 12:59] sibelius opened #246 "[Android] scroll stopped working"
Scroll works fine until I go to another screen, and then I go back to the tab screen.

The scroll do not finish, it keep in the middle of the transition, only on Android

I've tried with 0.0.62 and with the latest 0.0.65.

Some of my code:

[code]

[code]

[code]

I'm not using `SceneMap` yet, I'll try with that

![image](https://cloud.githubusercontent.com/assets/2005841/25949858/65230722-362f-11

[2017-05-11 13:23] sibelius commented on #246
[code]

solved my problem on Android

[2017-05-11 13:23] #246 closed

[2017-05-11 14:38] satya164 commented on #246
Related https://github.com/facebook/react-native/issues/13463

[2017-05-11 16:07] tomasfrancisco commented on #37
I'm getting this behavior even with a high zIndex value

![screen shot 2017-05-11 at 17 03 38](https://cloud.githubusercontent.com/assets/4301103/25959573/f11f5c44-366b-11e7-9e68-0999b7949518.png)

I exaggerated on the shadow height and opacity so you can see better what I'm referring to.

Any thoughts?

[2017-05-12 09:33] TaiPA commented on #239
@sibelius
I have the save problem here, could you tell me more detail on use zIndex ?

[2017-05-12 09:37] TaiPA opened #247 "Is is possible to have a loop tab ?"
It is possible to have a loop tab ? (Like swiper)
Ex, i have 4 tab (Tab1, Tab2, Tab3, Tab4)

Tab3 <-> `Tab1 <-> Tab2 <-> Tab3` <-> Tab1

[2017-05-13 03:29] namdq1969 opened #248 "Method onRequestChangeTab not called?"
I try 2 things:
- put a console.log() inside onRequestChangeTab, but it will never be called.
- remove this onRequestChangeTab props from TabViewAnimated and it warns me this method is required by default.
Please check this issue for me. Thanks.

[2017-05-13 19:13] shardick commented on #248
Happens also to me. Tap on tabs don't work anymore after update to 0.65

[2017-05-14 16:56] mmatheusmmiguel opened #250 "How do I enter text in topbar?"
Hey guys,

In the demo -> https://raw.githubusercontent.com/satya164/react-native-tab-view/master/demo/demo.gif

How can i put this text "Text only topbar" on the basic example who is in the project readme?

Thanks,
Sorry my bad english.

[2017-05-15 11:25] zalesky opened #251 "Add a license file"
Hi, in package.json you have key "license": "MIT", but there is no license file in project.
Can you be so kind and add it? Thanks you a lot.

[2017-05-15 13:31] kelset commented on #246
@sibelius can you explain a bit more how that method solved the problem for you? Did you pass _renderPager to TabViewAnimated?

[2017-05-15 13:33] vince-fly commented on #243
i have the same issue.

[2017-05-15 13:35] sibelius commented on #243
[code]

[2017-05-15 13:37] sibelius commented on #246
yes

[code]

[2017-05-15 13:56] kelset commented on #246
Thanks for the clarification; follow up question, would this implementation of the renderPager be more appropriate?

[code]

Found [here](https://github.com/react-native-community/react-native-tab-view/issues/105#issuecomment-278179868).

[2017-05-15 14:00] kelset commented on #243
I had a quite similar issue, setting the `zIndex: 0` didn't help, but instead @sibelius's solution for fixing issue #246 using renderPager did the trick.

[2017-05-15 16:33] zalesky commented on #251
@satya164 Please accept pr #245 or give me a feedback. I can't use this component without this.
 Otherwise I will have to write this component by myself🙄

[2017-05-15 17:19] satya164 commented on #251
Since the license is already mentioned in `package.json`, why is it important to add the file? I'm not very familiar with the licensing.

[2017-05-15 17:22] lslima91 opened #252 "Arranging tabs using flex properties"
Imagine the following tabbar:
[Tab1, spaceeeeeeeeeeeeeeeee, Tab2]

To implement a layout like this I would do something like:
[code]

The problem is that if I set flexDirection to row the tabs disappear

[2017-05-15 18:31] andrewcroce commented on #234
@valeriik Were you able to make sense of the example? I'm also trying to change the style of the tab label itself when it is selected.

[2017-05-15 21:00] andrerfneves opened #253 "Keeping scroll position for next tab"
Great package. Use it heavily in my application and couldn't ask for more. I do however have a specific requirement that I haven't found a workaround for. I need to set a specific scroll position for the sibling tabs based on my scroll of my current tab. Is there any way to keep the scroll position the same across tabs?

I thought of using the `onChangePosition` props of `TabViewAnimated` but wasn

[2017-05-15 21:13] valeriik commented on #234
@andrewcroce for now I did not try and I cannot realize how @satya164's answer can help me :)

[2017-05-15 21:32] sibelius commented on #246
React Navigation uses only TabViewPagerPan

https://github.com/react-community/react-navigation/blob/30ca3c1f80617abc28fdd71f0b37d4f62b3e388a/src/views/TabView/TabView.js#L132

I think @satya164 is the best person to answer this

[2017-05-15 23:10] nachoaIvarez commented on #22
@jasan-s I now use reactnavigation.org exclusively.

[2017-05-15 23:35] mmatheusmmiguel commented on #250
Any?

[2017-05-16 07:19] zalesky commented on #251
Thx you a lot. It's a best practice  https://help.github.com/articles/licensing-a-repository/

[2017-05-16 07:19] #251 closed

[2017-05-16 07:35] ChrnoLynch commented on #243
I have the same error and like @Kelset say and after some days searching a solution, renderPager fix the error.

[code]

[2017-05-17 08:18] Exilz commented on #248
It's working fine for me with react-native 0.44 and tab-view 0.0.65.
However, I now need to pass the `onRequestChangeTab` prop explicitly, where I used to ommit it.

[code]

[code]

[2017-05-17 08:48] satya164 commented on #248
@namdq1969 I can't repro the issue. Do you have a repro somewhere I can check?

@Exilz you always needed to. tab view is a controlled component. it was a bug if it used to work without doing it

[2017-05-17 08:54] satya164 commented on #253
Hey! I'm not sure what you want to achieve. Do you have an example/gif somewhere?

[2017-05-17 08:56] satya164 commented on #252
You cannot do that, but you can prolly just use a custom tab bar. https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/NoAnimationExample.js#L94

[2017-05-17 08:56] #252 closed

[2017-05-17 08:59] namdq1969 commented on #248
@satya164 i use this component like below:
`<TabViewAnimated
          lazy
          swipeEnabled={false}
          navigationState={this.state}
          renderScene={scene => this.renderScene(scene)}
          onRequestChangeTab={(index) => {
            console.log(index);
          }}
        />`
when I setState({index: this.state.index + 1}) new tab will be rendered, but there's no console.l

[2017-05-17 09:00] Exilz commented on #248
You should set the index with the value from onRequestChangeTab, and not
increment it
Le mer. 17 mai 2017 à 10:59, Nam Đàm <notifications@github.com> a écrit :

[2017-05-17 09:03] namdq1969 commented on #248
@Exilz well, because I hide TabBars and disable swiping, so I put a next button on the screen for user to go to next tab. this tab component i use for stepping procedure in create new user account.

[2017-05-17 09:09] satya164 commented on #248
`onRequestChangeTab` only fires when you swipe/tap on tab bar etc. .i.e when the library requests you to change the index in state. If you're doing a `setState` with an index, `onRequestChangeTab` will not fire.

If you need to know when the tab changed regardless who did it, try in `componentWillUpdate` or `componentDidUpdate`

[code]

[2017-05-17 09:09] #248 closed

[2017-05-17 09:28] satya164 commented on #250
It's just a view. put another view above it like you would do with normal react native components.

[2017-05-17 09:28] #250 closed

[2017-05-17 09:31] satya164 commented on #247
Not currently. Maybe we need overscroll support. However it might be difficult/impossible on Android with native pagers.

[2017-05-17 09:35] satya164 commented on #246
@sibelius React Navigation uses `TabViewPagerPan` only when swipe and animations are disabled if you look inside `render`

`TabViewPagerPan` - A custom implementation using pan responders and animated API, since gestures are JS based, this will have the worst perf, least buggy though
`TabViewPagerScroll` - Uses `ScrollView` behind the scenes. Will have better performance, though there are missing

[2017-05-17 09:53] TaiPA commented on #239
No One have the same problem with me...?
Please help me...

[2017-05-17 10:03] satya164 commented on #239
try using:

[code]

[2017-05-17 13:13] mmatheusmmiguel commented on #250
But should I put the view over which component? The TabBar or TabViewAnimated?

[2017-05-17 13:15] satya164 commented on #250
That's upto you. Both will achieve the same result.

[2017-05-17 13:16] mmatheusmmiguel commented on #250
Ok, thanks!

[2017-05-17 14:50] kelset commented on #246
Thanks for the clarification, so I should use `TabViewPagerPan` for both probably, for a more stable implementation.

Btw I think that I'm having a quite similar issue with the `master` branch of `react-navigation`, I'll investigate a bit more on that.

[2017-05-17 15:01] mmatheusmmiguel commented on #250
Hey Man,

https://image.prntscr.com/image/f481a2b328cc443584bfe28d42b00a44.png

Do you know how to remove this black shadow on this image?

[2017-05-17 15:03] satya164 commented on #250
Pass `style={{ elevation: 0, shadowOpacity: 0 }}` to the `TabBar`

[2017-05-17 15:08] mmatheusmmiguel commented on #250
Oh thanks, man!

[2017-05-18 22:48] Jarrio opened #255 "Setting auto focus on an input is causing the keyboard to popup on launch in an unrelated tab"
I have a youtube video component in the top half of the screen and underneath the video, I have the `TabViewAnimated` component. Below is a gif of the issue:

![gif](https://cloud.githubusercontent.com/assets/748557/26226519/77e61b7e-3c24-11e7-8044-6c39007fc337.gif)

My code setup is as follows:
[code]
My routes are defined as:

[code]

Now, this issue has only just appeared from a UI change. I've

[2017-05-19 01:41] jasan-s commented on #105
i have not tried this yet but I'm about to switch to react-navigation which uses this lib. @Polidoro , how would I conditional render pagers for it, since I don't think you have direct access to the same props ?

[2017-05-19 07:33] yayanartha opened #256 "Varying tab width"
How to produce a different tab width regarding to length of the tab label like the image below. And how can I make the indicator bar length align with the label?
![screen shot 2017-05-19 at 3 26 39 pm](https://cloud.githubusercontent.com/assets/10683719/26237550/32de3a64-3ca8-11e7-9bda-aca387d03de5.png)

[2017-05-19 11:22] danielreuterwall opened #257 "Overlay tab bar"
I'm using the tab navigator in react navigation and I want to have the tabbar overlay the pager. The problems comes down to the `renderFooter`/`renderHeader` of `TabViewAnimated`.

On iOS I got it working by placing the tab bar in the footer (so it renders after the pager) and adding `position: absolute` and `top: Dimensions.get("window").height * -1`. It's a bit quirky but it gets the job done. H

[2017-05-19 11:39] satya164 commented on #257
What happens when you do `position: absolute` in React Navigation?

[2017-05-19 11:49] danielreuterwall commented on #257
On Android it just disappears from the screen. I tried to position it in
any way I could come up to but it doesn't work.

On Fri, May 19, 2017, 13:39 Satyajit Sahoo <notifications@github.com> wrote:

[2017-05-19 12:18] ashrithks opened #258 "Collapsing toolbar with the TabBar"
Hi All,

Tried to achieve collapsing toolbar with tabbar,

 -- ![Valid XHTML](https://camo.githubusercontent.com/97497a24719b85f5d618cba66ac4d23ccfdd7023/687474703a2f2f692e696d6775722e636f6d2f615069333243712e676966)

referring to --  https://medium.com/appandflow/react-native-scrollview-animated-header-10a18cb9469e

But no luck!!!
![ezgif com-video-to-gif 1](https://cloud.githubusercontent.com/ass

[2017-05-19 12:32] satya164 commented on #257
@danielreuterwall you have a repro I can try? Maybe on http://snack.expo.io ?

Could be a bug

[2017-05-19 12:38] danielreuterwall commented on #257
Unfortunately not but I could try to reproduce it in a more vanilla app and
share the repo. Hope to find some extra time over the weekend.

On Fri, May 19, 2017, 14:32 Satyajit Sahoo <notifications@github.com> wrote:

[2017-05-19 13:18] Polidoro commented on #105
Hi @jasan-s! I'm no expert but you might be able to set conditional rendering by using the `lazy` prop on TabViewAnimated and then adding conditions to the individual scenes.

If you can explain in more detail what you're trying to accomplish maybe I can be more helpful?

[2017-05-19 14:40] danielreuterwall commented on #257
Is there any existing example of an overlay header or footer? Thinking of
alternative approaches...

On Fri, May 19, 2017, 14:38 Daniel Reuterwall <daniel@reuterwall.com> wrote:

[2017-05-19 20:32] andrerfneves commented on #253
@satya164 yes sure. I'll get a gif in a little bit

[2017-05-20 04:42] wellingtondessuy commented on #80
I have a similar problem. Every time that a state is updated all tabs are rebuilt, renderScene is called once for each tab. Any help??

[2017-05-20 07:50] sun2rise commented on #80
@wellingtondessuy  I figured it out.. my previous snippet was wrong!
I had to use `PureComponent` just form the react library or shouldComponentUpdate function will never be fired!
the correct example:

[code]

[2017-05-21 06:19] hyochan35 opened #259 "Smaller tab menu"
<img width="244" alt="2017-05-21 1 19 31" src="https://cloud.githubusercontent.com/assets/20625109/26281643/90ac6de6-3e38-11e7-9829-d76c2612365d.png">

I want to design tab view with smaller size like image above.
When I do that child views get smaller also.
I want child views to fit the width of parent and want only smaller sized tab menu.

How can I concur?

[2017-05-21 19:00] CharlesMangwa commented on #259
Hi @hyochan35: you just have to use one of the examples provided in the repo, and tweak the `[renderHeader method](https://github.com/react-native-community/react-native-tab-view/blob/master/example/src/TopBarTextExample.js#L37-L48)` as you wish.

You can have a look at how tabviews' length are handle in TabBar [right here](https://github.com/react-native-community/react-native-tab-view/blob/maste